main > div.page-content {
    padding: 30px 60px;
}

span.subtitle {
    font-size: 12px;
    line-height: 0 !important;
    padding-top: 32px;
}

div.member.member-fullcomment:hover {
    cursor: pointer;
}

nav.packages {
    padding-top: 0 !important;
}

nav.packages > a.entity {
    padding: 0.2em 4em !important;
}

div.search-container {
    margin: 0 2em 0 2.8em;
}

a.mdl-navigation__link {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

nav.related {
    padding-top: 0 !important;
}

span#docs-title {
    line-height: normal;
    padding-top: 2em;
}

span.member-name, span.return-value {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0 16px;
    letter-spacing: .04em;
    line-height: 24px;
}
