.icon-button {
  background: unset;
  border: none;
  cursor: pointer;
}

/* sun button */
#theme-toggle.icon-button::after {
  content: url("../../../../images/icon-buttons/moon/light/default.svg");
}

#theme-toggle.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/moon/light/hover.svg");
}

#theme-toggle.icon-button:active::after {
  content: url("../../../../images/icon-buttons/moon/light/active.svg");
}

#theme-toggle.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/moon/light/disabled.svg");
}

#theme-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/moon/light/focus.svg");
}

#theme-toggle.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/moon/light/selected.svg");
}

.theme-dark #theme-toggle.icon-button::after {
  content: url("../../../../images/icon-buttons/sun/dark/default.svg");
}

.theme-dark #theme-toggle.icon-button:hover::after {
  content: url("../../../../images/icon-buttons/sun/dark/hover.svg");
}

.theme-dark #theme-toggle.icon-button:active::after {
  content: url("../../../../images/icon-buttons/sun/dark/active.svg");
}

.theme-dark #theme-toggle.icon-button:disabled::after {
  content: url("../../../../images/icon-buttons/sun/dark/disabled.svg");
}

.theme-dark #theme-toggle.icon-button:focus::after {
  content: url("../../../../images/icon-buttons/sun/dark/focus.svg");
}

.theme-dark #theme-toggle.icon-button.selected::after {
  content: url("../../../../images/icon-buttons/sun/dark/selected.svg");
}

/* hamburger button */
.icon-button.hamburger::after {
  content: url("../../../../images/icon-buttons/hamburger/light/default.svg");
}

.icon-button.hamburger:hover::after {
  content: url("../../../../images/icon-buttons/hamburger/light/hover.svg");
}

.icon-button.hamburger:active::after {
  content: url("../../../../images/icon-buttons/hamburger/light/active.svg");
}

.icon-button.hamburger:disabled::after {
  content: url("../../../../images/icon-buttons/hamburger/light/disabled.svg");
}

.icon-button.hamburger:focus::after {
  content: url("../../../../images/icon-buttons/hamburger/light/focus.svg");
}

.icon-button.hamburger.selected::after {
  content: url("../../../../images/icon-buttons/hamburger/light/selected.svg");
}

.theme-dark .icon-button.hamburger::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/default.svg");
}

.theme-dark .icon-button.hamburger:hover::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/hover.svg");
}

.theme-dark .icon-button.hamburger:active::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/active.svg");
}

.theme-dark .icon-button.hamburger:disabled::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/disabled.svg");
}

.theme-dark .icon-button.hamburger:focus::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/focus.svg");
}

.theme-dark .icon-button.hamburger.selected::after {
  content: url("../../../../images/icon-buttons/hamburger/dark/selected.svg");
}
