.text-button {
  display: flex;
}

.text-button {
  color: var(--action-primary-content-default);
  text-decoration: none;
  cursor: pointer;
}

.text-button:hover {
  color: var(--action-primary-content-hover);
}

.text-button:active {
  color: var(--action-primary-content-active);
}

.text-button.selected {
  color: var(--action-primary-content-selected);
}

.text-button:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--focus-default);
}

.text-button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.text-button::after {
  margin-left: calc(1 * var(--base-spacing));
}

/* button with arrow */
.text-button.with-arrow::after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-button.with-arrow::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/default.svg");
}

.theme-dark .text-button.with-arrow::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/default.svg");
}

.text-button.with-arrow:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/hover.svg");
}

.theme-dark .text-button.with-arrow:hover::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/hover.svg");
}

.text-button.with-arrow.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/light/selected.svg");
}

.theme-dark .text-button.with-arrow.selected::after {
  content: url("../../../../images/icon-buttons/arrow-down/dark/selected.svg");
}
