.node {
    stroke: #333;
    stroke-width: 2.5px;
    fill: white;
}

.edgeLabel {
    fill: white;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

#graph {
    width: 100%;
    height: 80%;
}
