/* Snippets */

.snippet {
  position: relative;
  background: var(--code-bg);
  margin: 1em 0px;
  border-radius: 2px;
  box-shadow: 0 0 2px #888;
  cursor: default;
}
.snippet-error {
  border-bottom: 2px dotted red;
}
.snippet-warn {
  border-bottom: 2px dotted orange;
}
.snippet-info {
  border-bottom: 2px dotted teal;
}
.snippet-debug {
  border-bottom: 2px dotted pink;
}

.snippet .snippet-meta {
  border-top: 2px solid var(--inactive-bg);
  color: var(--inactive-fg);
  margin-top: 10px;
  padding-top: 10px;
  font-size: 0.75em;
}

.snippet-meta .snippet-label {
  font-weight: bold;
}

.snippet .buttons {
  --icon-size: 16px;
  position: absolute;
  right: 0;
  top: 0.5em
}

.snippet-showhide {
  display: flex;
  flex-direction: row;
  align-items: center;
  --slider-width: 40px;
  --slider-height: 16px;
  --slider-diameter: calc(var(--slider-height) - 4px);
}

.buttons p {
  margin-left: 4px;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--inactive-fg);
}

.snippet-showhide-button {
  display: inline-block;
  position: relative;
  width: var(--slider-width);
  height: var(--slider-height);
  margin-bottom: 0;
}

.snippet-showhide-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.snippet-showhide-button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--inactive-bg);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: var(--slider-height);
}

.snippet-showhide-button .slider:before {
  position: absolute;
  content: "";
  height: var(--slider-diameter);
  width: var(--slider-diameter);
  left: 2px;
  bottom: 2px;
  background-color: var(--inactive-fg);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.snippet-showhide-button .slider:hover::before {
  background-color: var(--active-fg);
}

input:checked + .slider {
  background-color: var(--active-bg);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--active-bg-shadow);
}

input:checked + .slider:before {
  --translation-size: calc(var(--slider-width) - var(--slider-diameter) - 4px);
  -webkit-transform: translateX(var(--translation-size));
  -ms-transform: translateX(var(--translation-size));
  transform: translateX(var(--translation-size));
}

.tooltip-container {
  display: none;
}
.tooltip:hover .tooltip-container {
  display: block;
}
.tooltip:hover .tooltip-container::after {
  content: attr(label);
  padding: 4px 8px;
  color: white;
  background-color:black;
  position: absolute;
  z-index:10;
  box-shadow:0 0 3px #444;
  opacity: 0.8;
}

.snippet .buttons .tooltip::after {
  top: 32px;
}

.snippet .buttons {
  transition: all .2s ease;
  opacity: 0;
  visibility: hidden;
}

.snippet:hover .buttons {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.snippet .buttons button {
  outline: none;
  background: none;
  border: none;
  font-size: var(--icon-size);
  color: var(--inactive-fg);
  cursor: pointer;
}

.snippet .buttons button:hover:not(:disabled) {
  color: var(--inactive-fg-shadow)
}

.snippet .buttons button:active:not(:disabled) {
  transform: translateY(2px);
  color: var(--active-fg)
}

.snippet .buttons button:disabled {
  color: var(--inactive-bg)
}


.snippet .buttons>:not(:first-child) {
  border-right: 2px solid var(--inactive-bg);
}

.snippet .buttons>* {
  padding-left: 5px;
  padding-right: 5px;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.included-section {
  display: flex;
  flex-direction: column;
}

.included-section a {
  color: var(--inactive-fg) !important;
  font-size: 0.75em;
}

.included-section b {
  font-weight: bold;
}

.hideable.hidden {
  display: none;
}

.snippet .scastie.embedded {
  width: 100%;
}

.snippet .scastie.embedded .content {
  height: unset;
}

.snippet .scastie.embedded .editor-container {
  height: unset;
}

.snippet .scastie.embedded .editor-container .code {
  height: unset;
}

.snippet .scastie.embedded .editor-container .editor-wrapper {
  height: unset;
}

.snippet .scastie .CodeMirror, .snippet .scastie .CodeMirror-scroll {
  height:unset;
}

.snippet .scastie.embedded .app.light .editor-container .code .CodeMirror-scroll {
  height:unset;
  min-height: 50px;
}

.snippet .scastie .app.light .editor-container .console-container .console {
  height: unset;
}

.snippet .scastie .app.light .CodeMirror-gutters {
  background-color: var(--code-bg) !important;
  border-color: var(--code-bg) !important;
}

.snippet .scastie .app.light .CodeMirror {
  color: var(--code-fg);
  background-color: var(--code-bg);
}


.snippet .scastie .app.light .output-console pre {
  color: white;
  background-color: rgb(0, 43, 54);
}

.snippet .scastie .app.light .editor-container .handler {
  background-color: var(--code-bg);
}

.snippet .scastie .console-container {
  margin-left: 30px;
}

.snippet .scastie .app.light .main-panel {
  background-color: unset;
}

.snippet .scastie .cm-s-solarized.cm-s-light .CodeMirror-widget .fold,
.snippet .scastie .cm-s-solarized.cm-s-light .CodeMirror-linewidget .compilation-info,
.snippet .scastie .cm-s-solarized.cm-s-light .CodeMirror-linewidget .runtime-error,
.snippet .scastie .cm-s-solarized.cm-s-light .CodeMirror-linewidget .line,
.snippet .scastie .cm-s-solarized.cm-s-light .CodeMirror-linewidget .inline {
  background-color: var(--code-bg);
}

.snippet .scastie .ansi-color-yellow {
  color: #b58900;
}

.snippet .scastie .ansi-color-magenta {
  color: var(--red500);
}

.snippet .fa-warning:before, .fa-exclamation-triangle:before {
  color: #b58900;
}

@media(max-width: 836px) {
  .snippet .buttons {
    --icon-size: 16px;
    font-size: 0px;
  }

  .snippet .buttons p {
    --icon-size: 16px;
    font-size: 0px;
  }
}

@media(max-width: 576px) {
  .snippet-showhide {
      --slider-width: 32px;
      --slider-height: 16px;
  }
}

@media(max-width: 360px) {
  .snippet-showhide {
      --slider-width: 32px;
      --slider-height: 16px;
  }
}

@media(max-width: 240px) {
  .snippet-showhide {
      --slider-width: 24px;
      --slider-height: 10px;
  }
}
