*.DS_Store
*.class
*.log
*.swp
*~
tags

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/

# Scala-IDE specific
.scala_dependencies
.cache
.cache-main
.cache-tests
.classpath
.project
.settings
classes/
*/bin/

# idea
.idea
.idea_modules
/.worksheet/

# Partest
dotty.jar
dotty-lib.jar
tests/partest-generated/
tests/locks/
/test-classes/

# Ignore output files but keep the directory
out/
build/
!out/.keep
testlogs/

# Ignore build-file
.packages
/.cache-main
/.cache-tests

# Put local stuff here
local/
compiler/test/debug/Gen.jar

compiler/before-pickling.txt
compiler/after-pickling.txt
