[submodule "community-build/community-projects/algebra"]
	path = community-build/community-projects/algebra
	url = https://github.com/dotty-staging/algebra
[submodule "community-build/community-projects/betterfiles"]
	path = community-build/community-projects/betterfiles
	url = https://github.com/dotty-staging/better-files
[submodule "community-build/community-projects/scalacheck"]
	path = community-build/community-projects/scalacheck
	url = https://github.com/dotty-staging/scalacheck
[submodule "community-build/community-projects/ScalaPB"]
	path = community-build/community-projects/ScalaPB
	url = https://github.com/dotty-staging/ScalaPB
[submodule "community-build/community-projects/scalatest"]
	path = community-build/community-projects/scalatest
	url = https://github.com/dotty-staging/scalatest
[submodule "community-build/community-projects/scalap"]
	path = community-build/community-projects/scalap
	url = https://github.com/dotty-staging/scala
[submodule "community-build/community-projects/minitest"]
	path = community-build/community-projects/minitest
	url = https://github.com/dotty-staging/minitest
[submodule "community-build/community-projects/fastparse"]
	path = community-build/community-projects/fastparse
	url = https://github.com/dotty-staging/fastparse
[submodule "community-build/community-projects/stdLib213"]
	path = community-build/community-projects/stdLib213
	url = https://github.com/dotty-staging/scala
[submodule "community-build/community-projects/sourcecode"]
	path = community-build/community-projects/sourcecode
	url = https://github.com/dotty-staging/sourcecode
[submodule "community-build/community-projects/scala-xml"]
	path = community-build/community-projects/scala-xml
	url = https://github.com/dotty-staging/scala-xml
[submodule "community-build/community-projects/shapeless"]
	path = community-build/community-projects/shapeless
	url = https://github.com/dotty-staging/shapeless
	branch = shapeless-3-staging
[submodule "community-build/community-projects/xml-interpolator"]
	path = community-build/community-projects/xml-interpolator
	url = https://github.com/dotty-staging/xml-interpolator.git
[submodule "community-build/community-projects/effpi"]
	path = community-build/community-projects/effpi
	url = https://github.com/dotty-staging/effpi
[submodule "community-build/community-projects/intent"]
	path = community-build/community-projects/intent
	url = https://github.com/dotty-staging/intent
[submodule "community-build/community-projects/utest"]
	path = community-build/community-projects/utest
	url = https://github.com/dotty-staging/utest.git
[submodule "community-build/community-projects/os-lib"]
	path = community-build/community-projects/os-lib
	url = https://github.com/dotty-staging/os-lib.git
[submodule "community-build/community-projects/scalatestplus-scalacheck"]
	path = community-build/community-projects/scalatestplus-scalacheck
	url = https://github.com/dotty-staging/scalatestplus-scalacheck.git
[submodule "community-build/community-projects/upickle"]
	path = community-build/community-projects/upickle
	url = https://github.com/dotty-staging/upickle.git
[submodule "community-build/community-projects/sconfig"]
	path = community-build/community-projects/sconfig
	url = https://github.com/dotty-staging/sconfig.git
[submodule "community-build/community-projects/zio"]
	path = community-build/community-projects/zio
	url = https://github.com/dotty-staging/zio.git
[submodule "community-build/community-projects/munit"]
	path = community-build/community-projects/munit
	url = https://github.com/dotty-staging/munit.git
[submodule "community-build/community-projects/scodec"]
	path = community-build/community-projects/scodec
	url = https://github.com/dotty-staging/scodec.git
	branch = dotty-community-build
[submodule "community-build/community-projects/scodec-bits"]
	path = community-build/community-projects/scodec-bits
	url = https://github.com/dotty-staging/scodec-bits.git
	branch = dotty-community-build
[submodule "community-build/community-projects/scala-parser-combinators"]
	path = community-build/community-projects/scala-parser-combinators
	url = https://github.com/dotty-staging/scala-parser-combinators.git
[submodule "community-build/community-projects/dotty-cps-async"]
	path = community-build/community-projects/dotty-cps-async
	url = https://github.com/dotty-staging/dotty-cps-async.git
[submodule "community-build/community-projects/geny"]
	path = community-build/community-projects/geny
	url = https://github.com/dotty-staging/geny.git
[submodule "community-build/community-projects/scalaz"]
	path = community-build/community-projects/scalaz
	url = https://github.com/dotty-staging/scalaz.git
[submodule "community-build/community-projects/endpoints"]
	path = community-build/community-projects/endpoints4s
	url = https://github.com/dotty-staging/endpoints.git
[submodule "community-build/community-projects/scas"]
	path = community-build/community-projects/scas
	url = https://github.com/dotty-staging/scas.git
[submodule "community-build/community-projects/fansi"]
	path = community-build/community-projects/fansi
	url = https://github.com/dotty-staging/fansi.git
[submodule "community-build/community-projects/PPrint"]
	path = community-build/community-projects/PPrint
	url = https://github.com/dotty-staging/PPrint.git
[submodule "community-build/community-projects/requests-scala"]
	path = community-build/community-projects/requests-scala
	url = https://github.com/dotty-staging/requests-scala.git
[submodule "community-build/community-projects/cats-effect-3"]
	path = community-build/community-projects/cats-effect-3
	url = https://github.com/dotty-staging/cats-effect.git
	branch = series/3.x
[submodule "community-build/community-projects/scala-parallel-collections"]
	path = community-build/community-projects/scala-parallel-collections
	url = https://github.com/dotty-staging/scala-parallel-collections.git
[submodule "community-build/community-projects/scala-collection-compat"]
	path = community-build/community-projects/scala-collection-compat
	url = https://github.com/dotty-staging/scala-collection-compat.git
[submodule "community-build/community-projects/verify"]
	path = community-build/community-projects/verify
	url = https://github.com/dotty-staging/nanotest-strawman.git
[submodule "community-build/community-projects/discipline"]
	path = community-build/community-projects/discipline
	url = https://github.com/dotty-staging/discipline.git
[submodule "community-build/community-projects/discipline-munit"]
	path = community-build/community-projects/discipline-munit
	url = https://github.com/dotty-staging/discipline-munit.git
[submodule "community-build/community-projects/discipline-specs2"]
	path = community-build/community-projects/discipline-specs2
	url = https://github.com/dotty-staging/discipline-specs2.git
[submodule "community-build/community-projects/simulacrum-scalafix"]
	path = community-build/community-projects/simulacrum-scalafix
	url = https://github.com/dotty-staging/simulacrum-scalafix.git
[submodule "community-build/community-projects/cats"]
	path = community-build/community-projects/cats
	url = https://github.com/dotty-staging/cats.git
[submodule "community-build/community-projects/cats-mtl"]
	path = community-build/community-projects/cats-mtl
	url = https://github.com/dotty-staging/cats-mtl.git
[submodule "community-build/community-projects/coop"]
	path = community-build/community-projects/coop
	url = https://github.com/dotty-staging/coop.git
[submodule "community-build/community-projects/AsyncFile"]
	path = community-build/community-projects/AsyncFile
	url = https://github.com/dotty-staging/AsyncFile.git
[submodule "community-build/community-projects/Equal"]
	path = community-build/community-projects/Equal
	url = https://github.com/dotty-staging/Equal.git
[submodule "community-build/community-projects/FingerTree"]
	path = community-build/community-projects/FingerTree
	url = https://github.com/dotty-staging/FingerTree.git
[submodule "community-build/community-projects/Log"]
	path = community-build/community-projects/Log
	url = https://github.com/dotty-staging/Log.git
[submodule "community-build/community-projects/Model"]
	path = community-build/community-projects/Model
	url = https://github.com/dotty-staging/Model.git
[submodule "community-build/community-projects/Numbers"]
	path = community-build/community-projects/Numbers
	url = https://github.com/dotty-staging/Numbers.git
[submodule "community-build/community-projects/Serial"]
	path = community-build/community-projects/Serial
	url = https://github.com/dotty-staging/Serial.git
[submodule "community-build/community-projects/Span"]
	path = community-build/community-projects/Span
	url = https://github.com/dotty-staging/Span.git
[submodule "community-build/community-projects/Lucre"]
	path = community-build/community-projects/Lucre
	url = https://github.com/dotty-staging/Lucre.git
[submodule "community-build/community-projects/scala-stm"]
	path = community-build/community-projects/scala-stm
	url = https://github.com/dotty-staging/scala-stm.git
[submodule "community-build/community-projects/scalatestplus-junit"]
	path = community-build/community-projects/scalatestplus-junit
	url = https://github.com/dotty-staging/scalatestplus-junit.git
[submodule "community-build/community-projects/izumi-reflect"]
	path = community-build/community-projects/izumi-reflect
	url = https://github.com/dotty-staging/izumi-reflect.git
[submodule "community-build/community-projects/perspective"]
	path = community-build/community-projects/perspective
	url = https://github.com/dotty-staging/perspective.git
	branch = dotty/nightly
[submodule "community-build/community-projects/akka"]
	path = community-build/community-projects/akka
	url = https://github.com/dotty-staging/akka.git
[submodule "community-build/community-projects/protoquill"]
	path = community-build/community-projects/protoquill
	url = https://github.com/dotty-staging/protoquill.git
[submodule "community-build/community-projects/Monocle"]
	path = community-build/community-projects/Monocle
	url = https://github.com/dotty-staging/Monocle.git
[submodule "community-build/community-projects/onnx-scala"]
	path = community-build/community-projects/onnx-scala
	url = https://github.com/dotty-staging/onnx-scala.git
[submodule "community-build/community-projects/cask"]
	path = community-build/community-projects/cask
	url = https://github.com/dotty-staging/cask.git
[submodule "community-build/community-projects/play-json"]
	path = community-build/community-projects/play-json
	url = https://github.com/dotty-staging/play-json.git
[submodule "community-build/community-projects/scalatestplus-testng"]
	path = community-build/community-projects/scalatestplus-testng
	url = https://github.com/dotty-staging/scalatestplus-testng.git
[submodule "community-build/community-projects/munit-cats-effect"]
	path = community-build/community-projects/munit-cats-effect
	url = https://github.com/dotty-staging/munit-cats-effect.git
[submodule "community-build/community-projects/scalacheck-effect"]
	path = community-build/community-projects/scalacheck-effect
	url = https://github.com/dotty-staging/scalacheck-effect.git
[submodule "community-build/community-projects/fs2"]
	path = community-build/community-projects/fs2
	url = https://github.com/dotty-staging/fs2.git
[submodule "community-build/community-projects/libretto"]
	path = community-build/community-projects/libretto
	url = https://github.com/dotty-staging/libretto.git
[submodule "community-build/community-projects/jackson-module-scala"]
	path = community-build/community-projects/jackson-module-scala
	url = https://github.com/dotty-staging/jackson-module-scala.git
[submodule "community-build/community-projects/scala-java8-compat"]
	path = community-build/community-projects/scala-java8-compat
	url = https://github.com/dotty-staging/scala-java8-compat.git
[submodule "community-build/community-projects/spire"]
	path = community-build/community-projects/spire
	url = https://github.com/dotty-staging/spire.git
[submodule "community-build/community-projects/munit-forward-compat"]
	path = community-build/community-projects/munit-forward-compat
	url = https://github.com/dotty-staging/munit.git
[submodule "community-build/community-projects/discipline-forward-compat"]
	path = community-build/community-projects/discipline-forward-compat
	url = https://github.com/dotty-staging/discipline.git
[submodule "community-build/community-projects/discipline-munit-forward-compat"]
	path = community-build/community-projects/discipline-munit-forward-compat
	url = https://github.com/dotty-staging/discipline-munit.git
[submodule "community-build/community-projects/discipline-specs2-forward-compat"]
	path = community-build/community-projects/discipline-specs2-forward-compat
	url = https://github.com/dotty-staging/discipline-specs2.git
[submodule "community-build/community-projects/simulacrum-scalafix-forward-compat"]
	path = community-build/community-projects/simulacrum-scalafix-forward-compat
	url = https://github.com/dotty-staging/simulacrum-scalafix.git
[submodule "community-build/community-projects/cats-forward-compat"]
	path = community-build/community-projects/cats-forward-compat
	url = https://github.com/dotty-staging/cats.git
[submodule "community-build/community-projects/cats-mtl-forward-compat"]
	path = community-build/community-projects/cats-mtl-forward-compat
	url = https://github.com/dotty-staging/cats-mtl.git
[submodule "community-build/community-projects/coop-forward-compat"]
	path = community-build/community-projects/coop-forward-compat
	url = https://github.com/dotty-staging/coop.git
[submodule "community-build/community-projects/cats-effect-3-forward-compat"]
	path = community-build/community-projects/cats-effect-3-forward-compat
	url = https://github.com/dotty-staging/cats-effect.git
	branch = series/3.x
[submodule "community-build/community-projects/scalacheck-forward-compat"]
	path = community-build/community-projects/scalacheck-forward-compat
	url = https://github.com/dotty-staging/scalacheck
