*.DS_Store
*.class
*.tasty
*.log
*.swp
*~
tags

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# npm
node_modules

# VS Code
.vscode/
# Metals
.bloop/
.metals/
metals.sbt

# Scala-IDE specific
.scala_dependencies
.cache
.cache-main
.cache-tests
.classpath
.project
.settings
classes/
*/bin/

# Dotty IDE
/.dotty-ide-dev-port
/.dotty-ide-artifact
/.dotty-ide.json

# idea
.idea
.idea_modules
/.worksheet/

# Partest
dotty.jar
dotty-lib.jar
tests/partest-generated/
tests/locks/
/test-classes/

# Ignore output files but keep the directory
out/
build/
!out/.keep
testlogs/

# Ignore build-file
.packages
/.cache-main
/.cache-tests

# Put local stuff here
local/
compiler/test/debug/Gen.jar

compiler/before-pickling.txt
compiler/after-pickling.txt
bench/compile.txt
*.dotty-ide-version

# The vscode app for testing
vscode-dotty/.vscode-test

community-build/scala3-bootstrapped.version
community-build/sbt-dotty-sbt
community-build/sbt-scalajs-sbt
community-build/dotty-community-build-deps

# Vulpix output files
*.check.out
!/dist/bin/

# semanticdb test output files
*.expect.scala.out
*.expect.out

# Bloop
.bsp

# Coursier
cs

# Coursier test product
compiler/test-coursier/run/myfile.jar
