# These files are text and should be normalized (convert crlf => lf)
*.c       text eol=lf
*.check   text eol=lf
*.css     text eol=lf
*.html    text eol=lf
*.java    text eol=lf
*.js      text eol=lf
*.sbt     text eol=lf
*.scala   text eol=lf
*.sh      text eol=lf
*.txt     text eol=lf
*.xml     text eol=lf
# Windows-specific files get windows endings
*.bat     eol=crlf
*.cmd     eol=crlf
*-windows.tmpl eol=crlf
# Some binary file types for completeness
# (binary is a macro for -text -diff)
*.dll     binary
*.gif     binary
*.jpg     binary
*.png     binary
*.class   binary
*.jar     binary
*.exe filter=lfs diff=lfs merge=lfs -text
