[submodule "scala-backend"]
	path = scala-backend
	url = https://github.com/lampepfl/scala.git
	branch = sharing-backend
[submodule "scala2-library"]
	path = scala2-library
	url = https://github.com/lampepfl/scala.git
	branch = dotty-library
[submodule "collection-strawman"]
	path = collection-strawman
	url = https://github.com/scala/collection-strawman.git
	branch = master
