Martin Odersky <odersky@gmail.com>
Lionel Parreaux <lionel.parreaux@gmail.com>
Som Snytt <som.snytt@gmail.com>
Fengyun Liu <liu@fengy.me>
Fengyun Liu <liufengyunchina@gmail.com>
Anatolii Kmetiuk <anatoliykmetyuk@gmail.com>
Jamie Thompson <bishbashboshjt@gmail.com>
Krzysztof Romanowski <kromanowski@virtuslab.com>
Oron Port <oron.port@cornell.edu>
Oron Port <soronpo@tx.technion.ac.il>
Ólafur Páll Geirsson <lgeirsson@twitter.com>
Kenji Yoshida <6b656e6a69@gmail.com>
Dmitry Petrashko <darkdimius@gmail.com>
