---
layout: doc
extraCSS:
    - css/api-page.css
---

<script>
    document.title = "{{ site.project }} API - {{ entity.name }}"
</script>

<div id="entity-container">
    <div id="entity-title">
        <span id="entity-modifiers">
            {{ entity.modifiers | join: " " }}
        </span>
        <span id="entity-kind">
            {{ entity.kind }}
        </span>
        <span id="entity-name">
            {{ entity.name }}
        </span>
    </div>

    {% if entity.comment.body %}
    <div id="entity-body" class="entity-section">
        {{ entity.comment.body }}
    </div>
    {% endif %}

    <h1 class="section {% if entity.hasVisibleMembers == false %}empty{% endif %}">Members</h1>

    <div id="entity-members" class="entity-section {% if entity.hasVisibleMembers == false %}empty{% endif %}">
        {% for member in entity.members %}
        <div id="{{ member.signature }}" class="member {% if member.isPrivate %}private{% elsif member.isProtected %}protected{% endif %}">
            <div class="member-title">
                <span class="member-annotations">
                    {% for annot in member.annotations %}@{{ annot | split: '.' | last }} {% endfor %}
                </span>
                <span class="member-modifiers">
                    {{ member.modifiers | join: " " }}
                </span>
                <span class="member-kind">
                    {{ member.kind }}
                </span>
                <span class="member-name {% if member.isImplicitlyAddedFrom != null %}implicitly-added{% endif %}">
                    {% if member.kind == "class" or member.kind == "case class" or member.kind == "object" or member.kind == "trait" %}
                        <a href="{{ site.baseurl }}/api/{{ member.path | join: "/" }}.html">{{ member.name }}</a>
                    {% elsif member.kind == "package" %}
                        <a href="{{ site.baseurl }}/api/{{ member.path | join: "/" }}/index.html">{{ member.name }}</a>
                    {% else %}
                        {{ member.name }}
                    {% endif %}
                </span>

                {% if member.kind == "def" and member.paramLists.size > 0 %}
                    {% for plist in member.paramLists %}
                    <span class="no-left">(</span>
                        {% if plist.isImplicit %}
                        <span class="no-left keyword">implicit</span>
                        {% endif %}
                        {% for namedRef in plist.list %}
                            <span class="{% if forloop.first %}no-left{% endif %}">
                                {{ namedRef.title }}:{% if namedRef.isByName %} =&gt;{% endif %}
                            </span>
                            {% renderRef namedRef.ref %}
                            {% if forloop.last != true %}
                                <span class="no-left">, </span>
                            {% endif %}
                        {% endfor %}
                    <span class="no-left">)</span>
                    {% endfor %}
                {% endif %}

                {% if member.kind == "type" and member.alias != null %}
                <span class="type-alias">
                    <span class="equals"> = </span>
                    {% renderRef member.alias %}
                </span>
                {% endif %}

                {% if member.returnValue %}
                <span class="no-left">: {{ member.returnValue.title }}</span>
                {% endif %}
            </div><!-- end member-title -->

            <div class="member-body">
                {{ member.comment.short }}
            </div>
        </div><!-- end member -->
        {% endfor %}
    </div>
</div><!-- end entity-container -->
