---
layout: main
---
<script>
    document.title = "{{ site.project }} Docs - {{ entity.name }}";
</script>
<main class="container api">
    <header>
        <span class="letter-anchor {{ entity.kind }}">{{ entity.kind | first | capitalize }}</span>
        <span class="name-prefix">
            <span class="modifiers">
                {{ entity.modifiers | join: " " }}
            </span>
            {{ entity.kind }}
        </span>
        <h1>
            {{ entity.name }}
            {% if entity.typeParams and entity.typeParams.size > 0 %}
                <span class="type-params">
                    [{{ entity.typeParams | join: ", " }}]
                </span>
            {% endif %}
        </h1>
        <span class="name-suffix">
            {% if entity.superTypes.size > 0 %}
                extends
                {% if entity.superTypes.size == 1 %}
                    {% renderLink entity.superTypes[0] %}
                {% else %}
                    {% renderLink entity.superTypes[0] %}
                    with {% renderLink entity.superTypes[1] %}
                    {% if entity.superTypes.size == 3 %}
                        with {% renderLink entity.superTypes[2] %}
                    {% elsif entity.superTypes.size > 3 %}
                        {% assign remaining = entity.superTypes.size | minus: 2 %}
                        and <a href="#supertypes">{{remaining}} more traits</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </span>
    </header>
    <!-- Description -->
    {% if entity.comment.body %}
        <div id="description">
            {{ entity.comment.body }}
        </div>
    {% endif %}
    <!-- Supertypes -->
    {% if entity.superTypes.size > 0 %}
        <div id="supertypes">
            <h2>Supertypes</h2>
            <span>
                {% for superT in entity.superTypes %}
                    {% renderLink superT %}
                    {% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </span>
        </div>
    {% endif %}
    <!-- Annotations -->
    {% if entity.annotations.size > 0 %}
        <div id="annotations">
            <h2>Annotations</h2>
            <span>
                {% for annot in entity.annotations %}
                    @{% renderLink annot %}
                    {% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </span>
        </div>
    {% endif %}
    <!-- Constructors -->
    {% if entity.kind == "class" or entity.kind == "case class" %}
        <div id="constructors">
            <h2>Constructors</h2>
            {% if entity.constructors and entity.constructors.size > 0 %}
                <div class="wide-table">
                    {% for ctorParamLists in entity.constructors %}
                        <span class="member">
                            <span class="left-column"></span>
                            <span class="right-column">
                                <h3>{{ entity.name }}</h3>
                                {% for plist in ctorParamLists %}
                                    <span class="params {% if plist.isImplicit %}implicit{% endif %}">
                                        (
                                        {% if plist.isImplicit %}
                                            <span class="keyword">implicit&nbsp;</span>
                                        {% endif %}
                                        {% for param in plist.list %}
                                            <span class="param">
                                                {{ param.title }}:
                                                {% if param.isByName %}=&gt;{% endif %}
                                                {% renderRef param.ref %}
                                            </span>
                                            {% unless forloop.last %},&nbsp;{% endunless %}
                                        {% endfor %}
                                        )
                                    </span>
                                {% endfor %}
                            </span>
                        </span>
                    {% endfor %}
                </div>
            {% else %}
                This {{ entity.kind }} cannot be constructed.
            {% endif %}
        </div>
    {% endif %}
    <!-- Members -->
    <div id="members">
        <h2>Members</h2>
        <div class="wide-table">
            {% for member in entity.members %}
                {% if member.isPrivate or member.isProtected %}
                    {% assign visibilityClass = "non-public" %}
                {% else %}
                    {% assign visibilityClass = "public" %}
                {% endif %}

                {% if member.isImplicitlyAddedFrom != null %}
                    {% assign implicitClass = "implicitly" %}
                {% else %}
                    {% assign implicitClass = "" %}
                {% endif %}

                {% assign kindClass = member.kind | replace: " ", "-" %}
                {% assign sig = member.signature %}
                <div id="{{ member.signature }}" class="member {{ kindClass }} {{ visibilityClass }} {{ implicitClass }}" data-toggle="collapse" data-target=".collapse-{{sig | escapeCSS}}">
                    <!-- Left: modifiers and kind -->
                    <span class="left-column">
                        <span class="modifiers">
                            {{ member.modifiers | join: " " }}
                        </span>
                        <span class="member-kind">{{ member.kind }}&nbsp;</span>
                    </span>
                    <!-- Right: name, type parameters, method parameters and return type -->
                    <span class="right-column">
                        <!-- Name -->
                        <h3 class="name">
                            {% if member.kind == "class" or member.kind == "case class" or member.kind == "object" or member.kind == "trait" %}
                                <a href="{{ site.baseurl }}/api/{{ member.path | join: "/" }}.html">{{ member.name }}</a>
                            {% elsif member.kind == "package" %}
                                <a href="{{ site.baseurl }}/api/{{ member.path | join: "/" }}/index.html">{{ member.name }}</a>
                            {% else %}
                                {{ member.name }}
                            {% endif %}
                        </h3>
                        <!-- Type parameters -->
                        {% if member.typeParams and member.typeParams.size > 0 %}
                            <span class="type-params">
                                [{{ member.typeParams | join: ", " }}]
                            </span>
                        {% endif %}
                        <!-- Method parameters -->
                        {% if member.paramLists and member.paramLists.size > 0 %}
                            {% for plist in member.paramLists %}
                                <span class="params {% if plist.isImplicit %}implicit{% endif %}">
                                    (
                                    {% if plist.isImplicit %}
                                        <span class="keyword">implicit&nbsp;</span>
                                    {% endif %}                                {% for param in plist.list %}
                                        <span class="param">
                                            {{ param.title }}:
                                            {% if param.isByName %}=&gt;{% endif %}
                                            {% renderRef param.ref %}
                                        </span>
                                        {% unless forloop.last %},&nbsp;{% endunless %}
                                    {% endfor %}
                                    )
                                </span>
                            {% endfor %}
                        {% endif %}
                        <!-- Return type -->
                        {% if member.returnValue %}
                            <span class="return-type">: {% renderRef member.returnValue %}</span>
                        {% endif %}
                        <!-- Type alias -->
                        {% if member.alias %}
                            <span class="type-alias">&nbsp;= {% renderRef member.alias %}</span>
                        {% endif %}
                    </span>
                    <!-- Shortened comment -->
                    <div class="short collapse show collapse-{{sig | escapeCSS}}">
                        {% if member.comment.short %}
                            {{ member.comment.short }}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </div>
                    <!-- Fully detailed comment -->
                    <div class="details collapse collapse-{{sig | escapeCSS}}">
                        <!-- Note: the body, if there is one, is already in a paragraph. -->
                        {% assign c = member.comment %}
                        {% if c %}
                            {{ c.body }}
                        {% else %}
                            <p></p>
                        {% endif %}
                        <!-- FIXME: even the latest liqp release doesn't support iterating on maps
                        {/% comment %}
                        {/% if c.typeParams.size > 0 %}
                            <ul class="doc-type-params">
                                {/% for doc in c.typeParams %}
                                    <li>
                                        <span class="doc-key">{{ doc[0] }}</span>
                                        <span class="doc-value">{{ doc[1] }}</span>
                                    </li>
                                {/% endfor %}
                            </ul>
                        {/% endif %}
                        {/% if c.valueParams.size > 0 %}
                            <ul class="doc-params">
                                {/% for doc in c.valueParams %}
                                    <li>
                                        <span class="doc-key">{{ doc[0] }}</span>
                                        <span class="doc-value">{{ doc[1] }}</span>
                                    </li>
                                {/% endfor %}
                            </ul>
                        {/% endif %}
                        {/% if c.result %}
                            <span class="doc-key">Result</span>
                            <span class="doc-value">{{ c.result }}</span>
                        {/% endif %}
                        {/% endcomment %}
                        -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
