---
layout: main
---

<div id="content-wrapper">
    <div class="index-wrapper">
        {% include "toc" %}
        <ul class="index-entities">
        {% if docs.size > 0 %}
        <li class="index-title">
            <span>API</span>
        </li>
        {% endif %}
        {% for pkg in docs %}
            <li class="index-entity entity-package">
                <a href="{{ site.baseurl }}/api/{{ pkg.path | join: "/" }}/index.html">{{ pkg.name }}</a>
            </li>
            {% for member in pkg.children %}
                {% if member.kind != "package" %}
                <li class="index-entity">
                    <a href="{{ site.baseurl }}/api/{{ member.path | join: "/" }}.html">{{ member.kind }} {{ member.name }}</a>
                </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    <div id="content-body">
        <div id="menu-toggle" onclick="toggleMenu()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        {{ content }}
    </div>
</div>


<script>
function toggleMenu() {
    var wrapper = document.getElementById("content-wrapper");
    wrapper.classList.toggle("toggled");
}
</script>
