<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{ page.title }}</title>

        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link
            rel="stylesheet"
            href="{{ site.baseurl }}/css/bootstrap.min.css"
        >

        <link
            rel="stylesheet"
            href="{{ site.baseurl }}/css/font-awesome.min.css"
        >

        <link
            rel="stylesheet"
            href="{{ site.baseurl }}/css/dottydoc.css"
        >

        <link
            rel="stylesheet"
            href="{{ site.baseurl }}/css/color-brewer.css"
        >

        {% for css in page.extraCSS %}
        <link
            rel="stylesheet"
            href="{{ site.baseurl }}/{{ css }}"
        >
        {% endfor %}
    </head>
    <body>

        {{ content }}

        <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/tether.min.js"></script>
        <script src="{{ site.baseurl }}/js/highlight.pack.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        {% for js in page.extraJS %}
        <script src="{{ site.baseurl }}/{{ js }}"></script>
        {% endfor %}
        <script>
            $(document).ready(function() {
                $('pre code').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
            });
        </script>
    </body>
</html>
