---
layout: main
extraCSS:
    - css/toolbar.css
    - css/search.css
---

{% include "toolbar" %}

<div id="back-container">
    <span>
        <a id="back-anchor" href="">Back</a>
    </span>
</div>

<div id="search-container">
    <h1 id="searching-for"></h1>
    <div id="result-container">
        <div class="results">
            <h1>Entity Results</h1>
            <ul id="entity-results">
            </ul>
        </div>
        <div class="results">
            <h1>Member Results</h1>
            <ul id="member-results">
            </ul>
        </div>
    </div>
</div>

<script>
    // Parse parameters from URL:
    var parameters = [];
    var apiSearch = undefined;
    var docs = {{ searchableDocs | json }};
    (function() {
        var pairs = location.search.substring(1).split('&');
        for (var i = 0; i < pairs.length; i++) {
            var keyVal = pairs[i].split('=');
            parameters[keyVal[0]] = keyVal.length == 2 ? keyVal[1] : undefined;
        }
    })();

    // Set search term and back button:
    var searchTerm = parameters["searchTerm"];
    document.getElementById("searching-for").innerHTML = 'Search results for "' + searchTerm + '"';
    document.getElementById("back-anchor").href = parameters["previousUrl"];

    if (!window.Worker) {
        document.getElementById("searching-for").innerHTML =
            "Couldn't search for \"" + searchTerm + "\", " +
            "web workers not supported. Please update your browser.";
    }
    else {
        // perform API search:
        apiSearch = new Worker("{{ site.baseurl }}/js/api-search.js");
        apiSearch.postMessage({
            "type":   "setup",
            "search": searchTerm,
            "docs":   docs,
        });

        var insertEntity = function(entityResultsNode, entityResults) {
            return function(entity, parent) {
                var shouldInsert =
                    parent.kind == "package" &&
                    !(entity.kind == "object" && entity.hasCompanion)

                if (shouldInsert) {
                    // If parent package not in list, create it first:
                    if (!(parent.name in entityResults)) {
                        var packageLi = document.createElement("li");
                        entityResultsNode.appendChild(packageLi);

                        packageLi.innerHTML =
                            "<h1 class=\"package-name\">" +
                                "<a href=\"{{ site.baseurl }}/api/" + parent.path.join('/') + "/index.html\">" +
                                    parent.name +
                                "</a>" +
                            "</h1>";

                        var entityUl = document.createElement("ul");
                        entityUl.classList.add("entity-ul");
                        packageLi.appendChild(entityUl);
                        entityResults[parent.name] = entityUl;
                        var coverBlock = document.createElement("div");
                        coverBlock.classList.add("cover-block");
                        entityUl.appendChild(coverBlock);
                    }

                    // Insert into list of results in package, no need to sort -
                    // already sorted:
                    var entityUl = entityResults[parent.name];
                    var selector = entity.path.slice(0, entity.path.length - 1).join('-') + '-' + entity.name;
                    var entityLi = document.querySelector('#' + selector);
                    if (!entityLi) {
                        entityLi = document.createElement("li");
                        if (entity.hasCompanion)
                            entityLi.classList.add("entity-result-li", "with-companion");
                        else
                            entityLi.classList.add("entity-result-li");

                        entityLi.id = selector;

                        var companion = !entity.hasCompanion ? "" : (
                            '<a class="letter-anchor object" href="{{ site.baseurl }}/api/' + entity.companionPath.join('/') + '.html">O</a>'
                        );

                        var letter =
                            '<a class="letter-anchor ' + entity.kind + '" href="{{ site.baseurl }}/api/' + entity.path.join('/') + '.html">' +
                            entity.kind.charAt(0).toUpperCase() +
                            '</a>'

                        entityLi.innerHTML = (
                            '<div class="entity-kinds">' +
                                companion +
                                letter +
                            '</div>' +
                            "<a class=\"entity-name\" href=\"{{ site.baseurl }}/api/" + entity.path.join('/') + ".html\">" +
                            entity.name +
                            "</a>"
                        );
                        entityUl.appendChild(entityLi);
                    }
                    return entityLi;
                }
                else {
                    var path = entity.path.slice(0, entity.path.length - 1)
                    return document.querySelector('#' + path + '-' + entity.name);
                }
            };
        };

        var insertMember = function(member, li) {
            var div = document.createElement("div");
            div.classList.add("member-result");

            var renderParamList = function(plist) {
                var start = plist.isImplicit ? "(implicit " : "(";
                var args = plist.list.join(', ');
                return start + args + ")";
            };

            var concatenateStrings = function(acc, str) { return acc + str; };

            var paramLists = !member.paramLists ? "" : (
                member.paramLists
                    .map(renderParamList)
                    .reduce(concatenateStrings, "")
            );

            div.innerHTML =
                '<div class="member-kind">'+ member.kind +'</div>' +
                '<div class="member-name">'+ member.name +'</div>' +
                '<div class="member-param-lists">' + paramLists + ':</div>' +
                '<div class="member-return">'+ member.returnValue +'</div>'

            li.appendChild(div);
        };

        var entityResultsNode = document.getElementById("entity-results");
        var entityResults = [];
        var memberResultsNode = document.getElementById("member-results");
        var memberResults = [];

        apiSearch.onmessage = function(res) {
            var package = res.data.package;
            switch(res.data.type) {
                case "entityResult": {
                    var entity = res.data.entity;
                    //console.log("got entity: " + entity.name + ", in package: " + package.name);
                    insertEntity(entityResultsNode, entityResults)(entity, package);
                    break;
                }
                case "memberResult": {
                    var member = res.data.member;
                    var parent = res.data.parent;
                    //console.log("got member: " + member.name + ", in entity: " + parent.name);
                    var li = insertEntity(memberResultsNode, memberResults)(parent, package);
                    if (li) insertMember(member, li);
                    break;
                }
                default: {
                    console.log("Got unknown message: " + res.data.type);
                }
            }
        };
    }
</script>
