/* button */
.search span {
    background: var(--red500);
    fill: var(--white);
    cursor: pointer;
    border: none;
    padding: 9px;
    border-radius: 24px;
    box-shadow: 0 0 16px var(--code-bg);
}
.search span:hover {
    background: var(--red600);
}

@media(max-width: 576px) {
    .search span {
        background: none;
        fill: var(--icon-color);
        cursor: pointer;
        border: none;
        padding: 0;
        box-shadow: none;
        margin-top: 2px;
    }

    .search span:hover {
        fill: var(--link-hover-fg);
    }
}

#scaladoc-search {
    margin-top: 16px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 5;
}

#scaladoc-searchbar.hidden {
    display: none;
}

#scaladoc-searchbar {
    position: fixed;
    top: 50px;
    left: calc(5% + var(--side-width));
    z-index: 5;
    width: calc(90% - var(--side-width));
    box-shadow: 0 2px 16px 0 rgba(0, 42, 76, 0.15);
    font-size: 13px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
    background-color: var(--leftbar-bg);
    color: var(--leftbar-fg);
    box-shadow: 0 0 2px var(--shadow);
}

#scaladoc-searchbar-input {
    width: 100%;
    min-height: 32px;
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 10px;
    background-color: var(--leftbar-bg);
    color: var(--leftbar-fg);
}

#scaladoc-searchbar-input:focus {
    outline: none;
}

#scaladoc-searchbar-results {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
}

.scaladoc-searchbar-result {
    background-color: var(--leftbar-bg);
    color: var(--leftbar-fg);
    line-height: 24px;
    padding: 4px 10px 4px 10px;
}

.scaladoc-searchbar-result-row {
    display: flex;
}

.scaladoc-searchbar-result .micon {
    height: 16px;
    width: 16px;
    margin: 4px 8px 0px 0px;
}

.scaladoc-searchbar-result:first-of-type {
    margin-top: 10px;
}

.scaladoc-searchbar-result[selected] {
    background-color: var(--leftbar-hover-bg);
    color: var(--leftbar-hover-fg);
}

.scaladoc-searchbar-result a {
    /* for some reason, with display:block if there's a wrap between the
     * search result text and the location span, the dead space to the
     * left of the location span doesn't get treated as part of the block,
     * which defeats the purpose of making the <a> a block element.
     * But inline-block with width:100% works as desired.
     */
    display: inline-block;
    width: 100%;
    text-indent: -20px;
    padding-left: 20px;
}

#searchBar {
    display: inline-flex;
}

.pull-right {
    float: right;
    margin-left: auto;
}

/* Snippets */

.snippet .snippet-meta {
    border-top: 2px solid var(--inactive-bg);
    color: var(--inactive-fg);
    margin-top: 10px;
    padding-top: 10px;
    font-size: 0.75em;
}

.snippet-meta .snippet-label {
    font-weight: bold;
}

.snippet .buttons {
    --icon-size: 24px;
}

.snippet-showhide {
    display: flex;
    flex-direction: row;
    align-items: center;
    --slider-width: 48px;
    --slider-height: 20px;
    --slider-diameter: calc(var(--slider-height) - 4px);
}

.snippet-showhide p {
    margin-left: 4px;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--inactive-fg);
}

.snippet-showhide-button {
    display: inline-block;
    position: relative;
    width: var(--slider-width);
    height: var(--slider-height);
    margin-bottom: 0;
}

.snippet-showhide-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.snippet-showhide-button .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--inactive-bg);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--slider-height);
}

.snippet-showhide-button .slider:before {
    position: absolute;
    content: "";
    height: var(--slider-diameter);
    width: var(--slider-diameter);
    left: 2px;
    bottom: 2px;
    background-color: var(--inactive-fg);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.snippet-showhide-button .slider:hover::before {
    background-color: var(--active-fg);
}

input:checked + .slider {
    background-color: var(--active-bg);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--active-bg-shadow);
}

input:checked + .slider:before {
    --translation-size: calc(var(--slider-width) - var(--slider-diameter) - 4px);
    -webkit-transform: translateX(var(--translation-size));
    -ms-transform: translateX(var(--translation-size));
    transform: translateX(var(--translation-size));
}

.snippet .buttons .tooltip::after {
    top: 32px;
}

.snippet .buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.snippet .buttons button {
    outline: none;
    background: none;
    border: none;
    font-size: var(--icon-size);
    color: var(--inactive-fg);
}

.snippet .buttons button:hover:not(:disabled) {
    color: var(--inactive-fg-shadow)
}

.snippet .buttons button:active:not(:disabled) {
    transform: translateY(2px);
    color: var(--active-fg)
}

.snippet .buttons button:disabled {
    color: var(--inactive-bg)
}


.snippet .buttons>:not(:last-child) {
    border-left: 2px solid var(--inactive-bg);
}

.snippet .buttons>* {
    padding-left: 5px;
    padding-right: 5px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.included-section {
    display: flex;
    flex-direction: column;
}

.included-section a {
    color: var(--inactive-fg) !important;
    font-size: 0.75em;
}

.included-section b {
    font-weight: bold;
}

.hideable.hidden {
    display: none;
}

@media(max-width: 576px) {
    .snippet-showhide {
        --slider-width: 32px;
        --slider-height: 16px;
    }

    .snippet .buttons {
        --icon-size: 16px;
        font-size: 16px;
    }

}

@media(max-width: 360px) {
    .snippet-showhide {
        --slider-width: 32px;
        --slider-height: 16px;
    }

    .snippet .buttons {
        --icon-size: 16px;
        font-size: 0px;
    }

}

@media(max-width: 240px) {
    .snippet-showhide {
        --slider-width: 24px;
        --slider-height: 10px;
    }

    .snippet .buttons {
        --icon-size: 16px;
        font-size: 0px;
    }

}

