@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700i,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Kalam:300,400,700");

:root {
  /* Side bar */
  --logo-bg: #15414C;
  --leftbar-fg: rgba(255, 255, 255, 0.5);
  --leftbar-bg: #15414C;
  --leftbar-hover-bg: #002B3B;
  --leftbar-hover-fg: #fff;
  --active-tab-color: #5CC6E4;

  /* Main pane */
  --title-fg: #DC322F;
  --content-padding: 0px;
  --pre-bg: #fdfdf7;
  --link-fg: #23aad1;
}

html, body {
  font-weight: 300;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #4A5659;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* simulating container layout from docs.scala-lang */
#logo {
  padding: 1em 0.5em;
}

#leftColumn {
  -webkit-box-shadow: rgba(0, 43, 54, 0.1) 0.3em 0em 0.5em;
  -moz-box-shadow: rgba(0, 43, 54, 0.1) 0.3em 0em 0.5em;
  box-shadow: rgba(0, 43, 54, 0.2) 0.3em 0em 0.5em;
}

main.container {
  min-height: 100vh;
  padding: 15px 15px;
  padding-bottom: 45px; /* prevents the content to be hidden by the gitter sidecar */
}

#content {
  padding-bottom: 0;
}

main .content {
  position: relative;
  top: -80px;
}

footer {
  margin-top: 0;
  /* background: #002B36; */
}

#inner-main .inner-box {
  padding: 30px;
}

.title-page {
  min-height: 200px;
}

.wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.byline {
  margin-bottom: 0.5em;
  margin-top: -0.5em;
}

/* adjusting colors to color scheme from docs.scala-lang */
.title-page {
  background: #5CC6E4;
}

#logo {
  background: var(--logo-bg);
}
#logo .projectName {
  color: #fff;
}

/* links and buttons */

.content-primary a {
  color: #23aad1;
  text-decoration: none;
  transition: all 350ms ease;
}
.content-primary a:active, .content-primary a:focus, .content-primary a:hover {
  color: #DC322F;
  text-decoration: underline;
}

.byline a {
  color: #bfe9f5;
}

.search button {
  background: rgba(0,0,0,0.1);
  box-shadow: none;
  position: absolute;
  top: 1em;
  right: 42px;
}

.search button:hover {
  fill: rgba(255,255,255,0.8);
  background: rgba(0,0,0,0.15);
}

.popup-wrapper {
  top: 7em; /* this is the position where it _should_ be */
}

.sideMenuPart a {
  font-weight: 700;
  transition: all 350ms ease;
}

.sideMenuPart a:hover {
  text-decoration: none;
}

#inner-main {
  background: #F0F3F3;
}

#inner-main .inner-box {
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 43, 54, 0.04) 0 2px 1px;
  -moz-box-shadow: rgba(0, 43, 54, 0.04) 0 2px 1px;
  box-shadow: rgba(0, 43, 54, 0.04) 0 2px 1px;
}

/* main text headers */
main .content-primary h1,
main .content-primary h2,
main .content-primary h3 {
  font-family: "Roboto Slab", serif;
  line-height: 1.4;
  font-weight: 400;
}

main .content-primary h1,
main .content-primary h2 {
  color: #DC322F;
  margin-bottom: 24px;
}

main .content-primary h4 {
  font-size: 1.063rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #073642;
  margin-bottom: 18px;
}

/* we do not have supertitles, so using for breadcrumbs instead */
.breadcrumbs {
  position: absolute;
}
.breadcrumbs a:hover, .breadcrumbs a:active, .breadcrumbs a:focus {
  color: #3094b0;
  text-decoration: none;
}
.titles .supertitle, .breadcrumbs {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  color: #2c90ad;
}

.titles h1 {
    font-size: 1.875rem;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    padding-top: 40px;
    text-transform: uppercase;
    text-shadow: rgba(0, 43, 54, 0.1) 2px 2px 0;
    color: #fff;
}

main .content-primary h3 {
  font-size: 1.25rem;
  color: #073642;
  margin-bottom: 18px;
}

.container img {
  width: 100%;
  height: auto;
}

/* headers */
main header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 16px;
  padding-bottom: 16px;
}

main > h1 {
  margin-bottom: 20px;
}

.byline .author {
  display: block;
}

/* indexes */
ul.post-list {
  list-style: none;
  padding-left: 0;
}
.post-list h2 {
  margin-bottom: 0;
}

/* headings anchors */
a.anchor {
  color: white;
  margin-left: -23px;
  padding-right: 3px;
  transition: color .4s ease-out;
}

a.anchor::before {
	content: "\f0c1";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 20px;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor {
  color: lightgrey;
  text-decoration: none;
}

h1:hover a.anchor:hover,
h2:hover a.anchor:hover,
h3:hover a.anchor:hover,
h4:hover a.anchor:hover,
h5:hover a.anchor:hover {
  color: var(--secondary);
}


/* footer */
footer {
  background: #D0D6D6;
}

footer img#author-img {
  width: auto;
  height: auto;
  max-width:100px;
  max-height:100px;
  border-radius: 50%;
}

footer span.go-to-top-icon {
  background: none;
}
footer a {
  color: #15414C;
  font-weight: 600;
  transition: color .4s ease-out;
}
footer a:hover {
  color: #456c75;
  text-decoration: none;
}

/* api docs */
.api span.letter-anchor {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;
  margin-top: 6px;
  margin-right: 8px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 43px;
  font-family: var(--font-family-sans-serif);
}
.api span.letter-anchor.object {
  line-height: 48px;
}
.api span.letter-anchor.class {
  line-height: 48px;
  padding-right: 3px;
}
.letter-anchor.object {
  background: #2c6c8d;
}
.letter-anchor.class {
  background: #44ad7d;
}
.letter-anchor.trait {
  background: #19aacf;
}
.letter-anchor.enum {
  background: #7803fc;
}
.letter-anchor.package {
  background: #2c6c8d;
}

.api header {
  font-family: var(--font-family-sans-serif);
}
.api header .name-prefix {
  display: block;
}
.api header .name-suffix {
  display: inline-block;
}

.api header h1 {
  margin: -13px 8px 0 0;
  display: inline-block;
}
.api h2 {
  margin-top: 1rem;
}
.api h3 {
  display: inline;
  margin: 0;
  font: inherit;
  font-weight: bold;
}

/* improved display and wrapping of parameters */
.api .params, .api .type-params {
  display: inline-flex;
  flex-flow: wrap;
}

/* api layout */
.wide-table {
  display: table;
  width: 100%;
}
.api .member:hover {
  background: var(--doc-bg);
  cursor: pointer;
}
.api .left-column {
  white-space: nowrap;
  padding-left: 1em;
  border-left: 3px solid transparent;/* table rows cannot have borders*/
  font-family: var(--font-family-monospace);
  text-align: right;
  width: 1px;
}
.api .member:hover .left-column {
  border-left: 3px solid var(--secondary);
}
.api .right-column {
  display: inline;
  text-align: right;
  font-family: var(--font-family-monospace);
}

/* code */
pre, code {
  font-variant-ligatures: none;
}
pre {
  padding: 20px;
  font-size: 13px;
  background: var(--pre-bg);
  border-radius: 2px;
  border: 1px solid #e7e7d6;
  margin-bottom: 36px;
}

/* admonitions */
blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

aside {
  padding: 15px;
  margin: 10px 0;
}

aside.warning {
  border-left: 3px solid #d62c2c;
  background-color: #ffe4e4;
}

aside.notice {
  border-left: 3px solid #4c97e4;
  background-color: #e4ebff;
}

aside.success {
  border-left: 3px solid #36bf1d;
  background-color: #ebfddd;
}

/* gitter chat */
.gitter-open-chat-button {
  background-color: grey;
}
.gitter-open-chat-button:focus, .gitter-open-chat-button:hover {
  background-color: var(--primary);
}
.gitter-open-chat-button:focus {
  box-shadow: 0 0 8px var(--primary);
}
.gitter-chat-embed {
  top: 40px; /* 50px (navbar) - 10px (aside's margin) */
  bottom: -10px;
}

/* media queries for bigger screens (dottydoc is mobile-first) */
@media (min-width: 576px) {
  .byline .author {
    display: inline;
    margin-left: 1em;
  }
  main.container {
    padding: 15px 30px;
  }
}
@media (min-width: 768px) {
  .api .member {
    display: table-row;
  }
  .api .left-column {
    display: table-cell;
  }
  .api .right-column {
    display: flex;
    flex-flow: wrap;
  }
  main.container {
    padding: 15px 45px;
  }
}

header {
  position: static !important;
  width: 100% !important;
}