/* should be used with .h50 class */
.badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.125 * var(--base-spacing), 0.5 * var(--base-spacing);
  border-radius: 2px;
  background-color: var(--semantic-background-grey);
  color: var(--semantic-content-grey);
}
