h1, h2, h3, h4, h5, h6 {
  /*text-rendering: geometricPrecision;*/
  font-weight: initial;
}

.h700 {
  font-size: 40px;
  line-height: 40px;
  font-family: var(--body-font-family);
}

.h600 {
  font-size: 32px;
  line-height: 40px;
  font-family: var(--body-font-family);
}

.h600 .single {
  padding-left: 16px;
}

.h500 {
  font-size: 28px;
  line-height: 32px;
  font-family: var(--body-font-family);
}

.h400 {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--body-font-family);
}

.h300 {
  font-size: 20px;
  line-height: 24px;
  font-family: var(--body-font-family);
}

.h200 {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--body-font-family);
}

.h100 {
  font-size: 13px;
  line-height: 16px;
  font-family: var(--body-font-family);
}

.h50 {
  font-size: 9px;
  line-height: 12px;
  font-family: var(--body-font-family);
}

.body-large {
  font-size: 20px;
  line-height: 32px;
  font-family: var(--body-font-family);
}

.body-medium {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--body-font-family);
}

.body-small {
  font-size: 13px;
  line-height: 16px;
  font-family: var(--body-font-family);
}

.mono-medium {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--code-font-family);
}

.mono-small-inline {
  font-size: 13px;
  line-height: 16px;
  font-family: var(--code-font-family);
}

.mono-small-block {
  font-size: 13px;
  line-height: 20px;
  font-family: var(--code-font-family);
}

:root {
  font-variant-ligatures: none;
  --body-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  --code-font-family: 'DejaVu Sans Mono', monospace;
}
