ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
  font-family: var(--font-family-sans-serif);
}

h3 {
  padding-top: .5rem;
}
h4 {
  display: inline-block;
  font-size: 1.25rem;
}

.package-name a {
  color: inherit;
}

.entity-kinds {
  display: inline;
}

.member-result {
  padding-left: 1em;
  font-family: var(--font-family-monospace);
}

@media(min-width: 768px) {
  .tab-content > .tab-pane {
    display: block;
  }
}
