/** Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,600);

div#entity-container {
    margin-top: 10px;
    padding: 0 20px 20px;
}

div#entity-title {
    color: #34495e;
    font-family: "Helvetica","Arial",sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

div#entity-title > span#entity-annotations,
div#entity-title > span#entity-modifiers,
div#entity-title > span#entity-kind {
    font-weight: 100;
}

div#entity-title > div#super-types > span.keyword {
    font-weight: 100;
}

div#entity-title > div#super-types > span.keyword,
div#entity-title > div#super-types > span.entity-super-type {
    font-size: 25px;
}

div#entity-title > div#super-types> span.entity-super-type > a,
div#entity-title > div#super-types> span.entity-super-type > a:focus {
    text-decoration: none;
    color: #34495e;
}

div#entity-title > div#super-types> span.entity-super-type > a:hover {
    text-decoration: underline;
}

div#entity-title span.no-left {
    margin-left: -9px;
}

div#entity-title span.no-right {
    margin-right: -9px;
}

div#entity-body table > tbody > tr > td {
    padding: 10px;
}

div.entity-section {
    background-color: #fff;
    border-radius: 4px;
    margin: 0;
    padding: 30px 0;
}

div.entity-section *:last-child {
    margin-bottom: 0px;
}

h1.section {
    margin: 30px 0;
}

.empty {
    display: none;
}

div.entity-section > div.member.protected {
    display: none;
}

div.entity-section > div.member.private {
    display: none;
}

div.entity-section > div.member {
    margin-bottom: 30px;
}

div.entity-section > div.member:last-child {
    margin-bottom: 0px;
}

div.entity-section > div.member > div.member-title {
    font-family: "Source Code Pro", sans-serif;
}

div.entity-section > div.member > div.member-title > span.member-name {
    color: #458;
    font-weight: 600;
}

div.entity-section > div.member > div.member-title > span.member-name.implicitly-added {
    color: #019875;
}

div.entity-section > div.member > div.member-title span.keyword {
    font-weight: 600;
    margin-right: 11px;
}

div.entity-section > div.member > div.member-title span.no-left {
    margin-left: -11px;
}

div.entity-section > div.member > div.member-title span.no-right {
    margin-right: -11px;
}

div.entity-section > div.member > div.member-title > span.expand-button {
    color: rgba(167, 161, 161, 0.5);
}

div.entity-section > div.member > div.member-title > span.expand-button:hover {
    color: rgb(167, 161, 161);
    cursor: pointer;
    user-select: none;
}

div.entity-section > div.member > div.member-title > span.expand-button.invisible,
div.entity-section > div.member > div.member-title > span.expand-button.invisible:hover {
    color: transparent;
}

div.entity-section > div.member > div.member-body {
    margin: 5px 0 0 39px;
}

div.entity-section > div.member > div.member-body > div.member-body-short.toggled {
    display: none;
}

div.entity-section > div.member > div.member-body > div.member-body-long {
    display: none;
}

div.entity-section > div.member > div.member-body > div.member-body-long.toggled {
    display: block;
}
