html {
    height: 100%;
}
body {
    min-height: 100%;
}

div#content-wrapper {
    min-height: 100vh;
    padding-left: 250px;
    transition: all 0.5s ease;
}

div#content-wrapper.toggled {
    padding-left: 0;
}

div.index-wrapper {
    background-color: #fafafa;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

div#content-body {
    border-left: 1px solid #e0e0e0;
    box-shadow: -3px 0px 5px -2px rgba(0,0,0,0.14);
    position: relative;
    padding: 10px;
    background-color: #f4f3f4;
    min-height: 100vh;
}

div#menu-toggle {
    color: #837F84;
    outline: none;
    padding-left: 20px;
    padding-top: 10px;
}

div#menu-toggle:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

ul.index-entities {
    list-style-type: none;
    padding-left: 0;
}

ul.toc {
    list-style-type: none;
    padding-top: 18px;
    padding-left: 0;
}

ul.toc > li.toc-title > a {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
}

ul.toc > li > a#home-button,
ul.toc > li > a#home-button:hover {
    text-align: center;
    background: transparent;
}

ul.toc > li > a#home-button svg g#logo-foreground {
    fill: rgba(152, 101, 167, 1);
}

ul.toc > li > a#home-button svg g#logo-background {
    fill: rgba(152, 101, 167, 0.45);
}

ul.toc > li,
ul.index-entities > li {
    line-height: 40px;
}

li.index-entity.entity-package > a {
  color: #ff4081;
  text-decoration: none;
}

ul.toc > li > a,
ul.index-entities > li > a {
    font-size: 13px;
    display: block;
    padding: 0 24px;
    color: rgba(0,0,0,.87);
    background: transparent;
    cursor: pointer;
}

ul.toc > li > ul.show {
    display: block;
    list-style-type: none;
    font-size: 13px;
}

ul.toc > li > ul.hide {
    display: none;
}

ul.index-entities > li.index-title > span {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,.87);
    padding: 0 24px;
}

li.index-entity > a:focus {
    text-decoration: none;
}

ul.index-entities > li > a:hover,
ul.toc > li > a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.darken {
    background-color: rgba(0, 0, 0, 0.2);
}

div#post-title,
div#post-footer,
h1#doc-page-title {
    margin-left: 20px;
    margin-top: 10px;
}

div#post-title > h2#sub-title {
    font-weight: 100;
    font-size: 24px;
}

div#post-title > h3#post-date {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 2px;
}

div#blog-post-container,
div#doc-page-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
    padding: 30px;
}

div#doc-page-container > p + h1 {
    margin-bottom: 40px;
}

div#post-footer > img#author-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

div#post-footer > span#post-author {
    margin-left: 10px;
    font-weight: 100;
}

pre {
    padding: 0;
    font-size: 13px;
    background: rgba(244, 243, 244, 0.6);
    border-radius: 2px;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.1);
}

pre > code.language-none,
pre > code.hljs {
    padding: 10px;
    background: transparent;
}
