/* Fonts -------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,600);

/* Sidebar ------------------------------------------------------------------ */
span.subtitle {
    font-size: 12px;
    line-height: 0 !important;
    padding-top: 32px;
}

ul.packages {
    padding-top: 0 !important;
}

ul.packages > li.package {
    padding-bottom: 0;
    padding-left: 40px;
    font-size: 14px;
}

ul.packages > li.entity {
    padding: 0;
    transition: 0.3s;
    min-height: 36px !important;
    max-height: 36px !important;
}

ul.packages > li.entity.one {
    margin-left: -36px;
}

ul.packages > li.entity.two {
    margin-left: -72px;
}

ul.packages > li.entity:hover {
    background-color: #efefef;
    margin-left: 0px;
}

li.entity > a.entity-button {
    float: left;
    display: inline;
    background-color: green;
    height: 36px;
    width: 36px;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

li.entity > a.entity-name {
    text-decoration: none;
    font-weight: normal;
    color: #757575;
    padding-left: 48px;
    font-size: 14px;
    font-family: "Helvetica","Arial",sans-serif;
    letter-spacing: 0;
}

li.entity > a.entity-button.object {
    background-color: rgb(44, 108, 141);
}

li.entity > a.entity-button.class,
li.entity > a.entity-button.caseclass {
    background-color: rgb(68, 173, 125);
}

li.entity > a.entity-button.trait {
    background-color: rgb(25, 170, 207);
}

li.entity > a.entity-button.shadowed {
    -webkit-box-shadow: inset -2px 0px 5px -3px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -2px 0px 5px -3px rgba(0,0,0,0.25);
    box-shadow: inset -2px 0px 5px -3px rgba(0,0,0,0.25);
}

div.search-container {
    margin: 0 2em 0 40px;
}

a.mdl-navigation__link {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

nav.related {
    padding-top: 0 !important;
}

span#docs-title {
    line-height: normal;
    padding-top: 2em;
}

/* Entity ------------------------------------------------------------------- */
main > div.page-content {
    padding: 30px 60px;
}

div.entity-title {
    color: #34495e;
    margin: 1.5em 0 1.5em;
}

div.entity-title > span {
    font-size: 2.0em;
}

div.entity-title > span+span {
    margin-left: 9px;
}

div.member-definition {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0 16px;
    line-height: 24px;
}

div.member-definition > span+span {
    margin-left: 10px;
}

div.member-definition > span.member-name,
div.member-definition > span.member-param-list span.is-implicit {
    color: #458;
    font-weight: 600;
}

div.member-definition > span.member-name.implicitly-added {
    color: #16A085;
}

div.member {
    min-height: 70px;
}

div.member.member-fullcomment:hover {
    cursor: pointer;
}

div.full-comment,
div.summary-comment {
    margin-left: 0;
}

span.type-separator {
    margin: 0 10px;
}


/* Search results ----------------------------------------------------------- */
main#search-results {
    display: none;
}

/*
main#search-results > div#toplevel-results {
    float: left;
    width: 50%;
}
*/

main#search-results > div#toplevel-results > div.mdl-card.package-result {
    margin: 20px auto;
    width: 80%;
}

main#search-results > button#close-button {
    position: fixed;
    top: 1em;
    right: 1em;
}

/* Helper classes ----------------------------------------------------------- */
.no-left-margin {
    margin-left: 0 !important;
}
