/* Style for Tabs */
.tabs {
  display: flex;
  flex-direction: column;
}

.tab-headers {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-link {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.tab-link:hover {
  background-color: red;
}

.tab-link.active {
  background-color: #ddd;
  font-weight: bold;
}

.tab-contents {
  display: flex;
  flex-direction: column;
}

.tab-content {
  display: none;
  padding: 20px;
}
