<nav class="sidebar">
    <ul class="toc">
        <!-- Redacted documents -->
        {% for title in sidebar.titles %}
            {% renderTitle title, page.url %}
        {% endfor %}
        <!-- API documentation -->
        {% if docs.size > 0 %}
        <li class="index-entities section">
            <a onclick="toggleSection(this);">API</a>
            <ul>
            {% for pkg in docs %}
                <li class="index-entity entity-package section">
                    <a class="package-toggle" onclick="toggleSection(this);">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <a class="entity-name" href="{{ site.baseurl }}/api/{{ pkg.path | join: "/" }}/index.html">
                        {{ pkg.name }}
                    </a>
                    <ul class="package-entities">
                        {% for member in pkg.children %}
                            {% if member.kind == "object" and member.hasCompanion %} <!-- ignore: companions are handled below -->
                            {% elsif member.kind != "package" %}

                            <li class="{% if member.hasCompanion %} with-companion {% endif %}">
                                <div class="entity-kinds">
                                    {% if member.hasCompanion %}
                                    <a class="letter-anchor object" href="{{ site.baseurl }}/api/{{ member.companionPath | join: "/" }}.html">O</a>
                                    {% endif %}
                                    <a class="letter-anchor {{ member.kind }}" href="{{ site.baseurl }}/api/{{ member.path | join: "/" }}.html">{{ member.kind | first | capitalize }}</a>
                                </div>
                                <a class="entity-name" href="{{ site.baseurl }}/api/{{ member.path | join: "/" }}.html">{{ member.name }}</a>
                            </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>
