<header>
    <nav class="navbar navbar-expand navbar-dark fixed-top">
        <a id="menu-icon" title="Menu" aria-label="Menu">
            <i class="fas fa-bars"></i>
        </a>
        <a id="search-icon" title="Search" aria-label="Search">
            <i class="fas fa-search"></i>
        </a>
        <span id="searchbar">
            <input id="search-api-input" type="text" class="form-control" placeholder="Search API" aria-label="Search API">
            <input id="baseurl-input" type="hidden" value="{{ site.baseurl }}">
        </span>
        <div class="navbar-brand">
            {% if site.logo %}
            <a href="{{ site.baseurl }}/index.html">
                <img class="project-logo" src="{{ site.baseurl }}/images/{{ site.logo }}">
            </a>
            {% endif %}
            <a href="{{ site.baseurl }}/docs/index.html">
                <div class="project-details">
                    <h1>{{ site.project }} Documentation</h1>
                    <h2>{{ site.version }}</h2>
                </div>
            </a>
        </div>

        {% if site.projectUrl %}
        <a id="github-link" title="Project repository" href="{{ site.projectUrl }}">
            {% if site.projectUrl contains "github" %}
            <i class="fab fa-github" aria-hidden="true"></i>
            {% elsif site.projectUrl contains "gitlab" %}
            <i class="fab fa-gitlab" aria-hidden="true"></i>
            {% else %}
            <i class="fas fa-code" aria-hidden="true"></i>
            {% endif %}
        </a>
        {% endif %}
    </nav>
</header>
