/* Global search */
.search-content {
  padding: 0;
  margin: var(--content-padding);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  background: none;
}

/* popup */
.popup-wrapper {
  box-shadow: 0 0 10px var(--border-light) !important;
  border: 2px solid var(--border-light) !important;
  font-family: var(--mono-font) !important;
  width: calc(100% - var(--side-width) - 84px);
  left: calc(var(--side-width) + 42px) !important;
}
.popup-wrapper .indented {
  text-indent: 1.5em !important;
}
.popup-wrapper .disabled {
  color: var(--inactive-fg) !important;
  font-weight: 500 !important;
}
.action_def:hover, .action_def.hover_a79 {
  color: var(--selected-fg);
  background: var(--selected-bg) !important;
  font-weight: 500;
}
.action_def .template-description {
  margin-left: 2rem;
  font-style: italic;
}

/* Landscape phones, portait tablets */
@media(max-width: 768px) {
  .popup-wrapper {
    width: calc(100% - 48px);
    left: 24px !important;
  }
}

/* Portrait phones */
@media(max-width: 576px) {
  .search-content {
    margin: 0 !important;
    top: 9px !important;
    right: 12px !important;
  }
  .popup-wrapper {
    width: 100%;
    left: 0 !important;
    top: 36px !important;
  }
  /* Allow to scroll horizontally in the search results, which is useful on small screens */
  .popup-wrapper div.ReactVirtualized__Grid__innerScrollContainer {
    overflow: auto !important;
  }
  .popup-wrapper div.ReactVirtualized__Grid__innerScrollContainer > div {
    min-width: 100%;
    width: auto !important;
  }
}

/* Loading */
.loading-wrapper {
  text-align: center;
  padding: 4px;
}

.loading, .loading::before, .loading::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--leftbar-bg);
  color: var(--leftbar-bg);
  animation-name: dotFlashing;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading {
  position: relative;
  animation-delay: .2s;
}

.loading::before {
  left: -15px;
  animation-delay: 0s;
}

.loading::after {
  left: 15px;
  animation-delay: .4s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--leftbar-bg);
  }
  25% {
    background-color: var(--shadow);
  }
  50% {
    background-color: var(--leftbar-bg);
  }
}