.documentableElement {
  background-color: var(--action-primary-background-default-solid);
  padding: calc(3 * var(--base-spacing));
  border-radius: 4px;
  margin-bottom: calc(3 * var(--base-spacing));
  color: var(--text-primary);
  position: relative;
}

.documentableElement:last-child {
  margin-bottom: 0;
}

.documentableElement .signature {
  margin-right: calc(3 * var(--base-spacing));
}

.documentableElement:hover {
  cursor: pointer;
}

.documentableElement .annotations {
  display: none;
}

.documentableElement > div .cover {
  display: none;
}

.documentableElement.expand > div .cover {
  display: block;
}

.documentableElement.expand .annotations {
  display: inline-block;
}

.documentableElement.expand .documentableBrief {
  display: none;
}

.documentableElement .icon-button {
  position: absolute;
  top: calc(3 * var(--base-spacing));
  right: calc(3 * var(--base-spacing));
  display: none;
}

.documentableElement:hover .icon-button {
  display: block;
}

#content .documentableElement a {
  text-decoration: none;
}

#content .documentableElement a:hover {
  text-decoration: underline;
}

#content .documentableElement p {
  color: var(--text-primary);
}

[t="k"] {
  color: var(--code-method-highlighting-keyword);
}

[t="t"] {
  color: var(--code-method-highlighting-type);
}

#content a[t="n"] {
  color: var(--code-method-highlighting-link-sig-fig);
}

#content a[t="t"] {
  color: var(--code-method-highlighting-type-link);
}
