.documentableElement {
  padding: 13px 0 12px;
  color: var(--text-primary);
  position: relative;
  border-top: 1px solid var(--border-default);
}

.documentableElement:last-child {
  margin-bottom: 0;
  border-top: 1px solid var(--border-default);
}

.documentableElement .signature {
  margin-right: calc(3 * var(--base-spacing));
  line-height: 1.5;
}

.documentableElement .signature-long {
  display: none;
}

.documentableElement:not(.expand):hover,
.documentableElement-expander {
  cursor: pointer;
}

.documentableElement .documentableBrief {
  color: var(--text-secondary);
}

.documentableElement .documentableBrief p:first-of-type,
.documentableElement.expand > div .cover .doc p:first-of-type {
  margin-block: calc(.5 * var(--base-spacing)) 0;
}

.documentableElement .doc p,
.documentableElement .doc .snippet  {
  margin-block: calc(2 * var(--base-spacing));
}

.documentableElement.expand .doc > :last-child {
  margin-block-end: 0;
}

.documentableElement .doc img {
  max-width: 100%;
}

.documentableElement .annotations {
  display: none;
}

.documentableElement > div .cover {
  display: none;
}

.documentableElement.expand {
color: var(--text-secondary);
}

.documentableElement.expand > div .cover {
  display: block;
}

.attributes.attributes-small > dt {
  padding-block: calc(1.5 * var(--base-spacing));
}

.attributes.attributes-small > dd {
  padding-block: calc(1 * var(--base-spacing));
}

.documentableElement.expand {
  padding-block-end: calc(4 * var(--base-spacing));
}

.documentableElement.expand > div .cover dd {
  color: var(--text-primary);
}

.documentableElement.expand .annotations {
  display: inline-block;
}

.documentableElement.expand .documentableBrief {
  display: none;
}

.documentableElement.expand .signature {
  color: var(--text-primary);
}

.documentableElement.expand .signature-long {
  display: inline;
}

.documentableElement.expand .extender {
  display: none;
}

.documentableElement .icon-button {
  position: absolute;
  left: calc(3.5 * var(--base-spacing) / -1);
  top: calc(2 * var(--base-spacing));
}

@media (max-width: 480px) {

  .documentableElement .icon-button {
    left: calc(3 * var(--base-spacing) / -1);
  }

}

.documentableElement:hover .icon-button {
  display: inline;
}

.documentableElement .attributes {
  margin-bottom: 0;
}

[t="k"] {
  color: var(--code-method-highlighting-keyword);
}

[t="t"] {
  color: var(--code-method-highlighting-type);
}

#content a[t="n"] {
  color: var(--code-method-highlighting-link-sig-fig);
}

#content a[t="t"] {
  color: var(--code-method-highlighting-type-link);
}
