.content-contributors {
  background-color: var(--background-neutral);
  padding: calc(3 * var(--base-spacing));
  border-radius: 4px;
}

.content-contributors .contributors-container {
  row-gap: calc(3 * var(--base-spacing));
  column-gap: calc(4 * var(--base-spacing));
}

.content-contributors h1 {
  color: var(--text-primary);
  margin-bottom: calc(3 * var(--base-spacing));
}

.content-contributors .contributors-container div img {
  border-radius: 50%;
  margin-right: calc(1.5 * var(--base-spacing));
}

#content .content-contributors .contributors-container div a {
  text-decoration: none;
}

.content-contributors .contributors-container {
  padding: 0;
}