#toc {
  display: flex;
  flex-direction: column;
  padding: 0 calc(1 * var(--base-spacing));
  width: calc(28 * var(--base-spacing));
}

#toc-container {
  position: absolute;
}

#toc ul {
  list-style-type: none;
  padding: 0;
}

#toc li {
  margin-bottom: calc(2.5 * var(--base-spacing));
}

#toc li > ul {
  margin-top: calc(2.5 * var(--base-spacing));
  margin-left: calc(1.5 * var(--base-spacing));
}

@media (min-width: 1920px) {
  #toc {
    margin-left: calc(8.5 * var(--base-spacing));
  }
}

@media (max-width: 1920px) {
  #toc {
    margin-left: calc(8.5 * var(--base-spacing));
  }
}

@media (max-width: 1436px) {
  #toc {
    margin-left: calc(8.5 * var(--base-spacing));
    margin-right: calc(8.5 * var(--base-spacing));
  }
  #toc-container {
    margin-right: calc(8.5 * var(--base-spacing));
  }
}

@media (max-width: 1376px) {
  #toc {
    margin-left: calc(6 * var(--base-spacing));
  }
}

@media (max-width: 1366px) {
  #toc {
    left: calc(102 * var(--base-spacing));
  }
}

@media (max-width: 1024px) {
  #toc.sidebar-shown {
    display: none;
  }
}

@media (max-width: 768px) {
  #toc {
    display: none;
  }
}

.toc-title {
  color: var(--text-primary);
  margin-bottom: calc(2 * var(--base-spacing));
}

#content .toc-nav a {
  color: var(--action-primary-content-default);
  text-decoration: none;
  border-bottom: none;
}

#toc li:hover > a {
  color: var(--action-primary-content-hover);
}

#toc li.active > a {
  color: var(--action-primary-content-hover);
}

#toc li:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--focus-default);
}
