body {
  margin: 0;
  padding: 0;
  background-color: var(--background-subtle);
  height: 100%;
  overflow: hidden;
}

p {
  margin-block-start: calc(3 * var(--base-spacing));
  margin-block-end: calc(3 * var(--base-spacing));
}

[id] {
  scroll-margin-top: calc(10 * var(--base-spacing));
}

#container {
  --header-height: calc(8 * var(--base-spacing));
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
