#main {
  overflow: scroll;
  height: 100%;
}

#content {
  margin-left: calc(39 * var(--base-spacing));
  display: flex;
  flex-flow: column;
  color: var(--text-primary);
}

#content::after {
  margin-bottom: calc(10 * var(--base-spacing));
}

@media (min-width: 1920px) {
  #content {
    padding-left: calc(36.75 * var(--base-spacing));
    padding-top: calc(18 * var(--base-spacing));
    padding-right: calc(74.25 * var(--base-spacing));
  }
}

@media (max-width: 1920px) {
  #content {
    padding-left: calc(6 * var(--base-spacing));
    padding-top: calc(18 * var(--base-spacing));
    padding-bottom: calc(10 * var(--base-spacing));
    padding-right: calc(41 * var(--base-spacing));
  }
}

@media (max-width: 1024px) {
  #content {
    margin-left: 0;
  }

  #content.sidebar-shown {
    margin-left: calc(39 * var(--base-spacing));
    padding-right: calc(6 * var(--base-spacing));
  }
}

@media (max-width: 768px) {
  #content {
    padding-right: calc(6 * var(--base-spacing));
  }
}

@media (max-width: 390px) {
  #content {
    padding-right: calc(4 * var(--base-spacing));
    padding-left: calc(4 * var(--base-spacing));
  }
}

/* content headers */

#content h1,
#content h2 {
  color: var(--text-primary);
}

/* content paragraph */
#content p {
  color: var(--text-secondary);
}

/* content list */
#content li {
  color: var(--text-primary);
}

/* content link */
#content a {
  color: var(--text-primary);
  text-decoration: underline;
}

.breadcrumbs {
  display: none;
}

/* header icons */

/* icons light*/
.cover-header .micon.cl {
  content: url("../../../images/class-big.svg");
}

.cover-header .micon.cl-wc {
  content: url("../../../images/class_comp-big.svg");
}

.cover-header .micon.ob {
  content: url("../../../images/object-big.svg");
}

.cover-header .micon.ob-wc {
  content: url("../../../images/object_comp-big.svg");
}

.cover-header .micon.tr {
  content: url("../../../images/trait-big.svg");
}

.cover-header .micon.tr-wc {
  content: url("../../../images/trait_comp-big.svg");
}

.cover-header .micon.en {
  content: url("../../../images/enum-big.svg");
}

.cover-header .micon.en-wc {
  content: url("../../../images/enum_comp-big.svg");
}

.cover-header .micon.gi {
  content: url("../../../images/given-big.svg");
}

.cover-header .micon.va {
  content: url("../../../images/val-big.svg");
}

.cover-header .micon.ty {
  content: url("../../../images/type-big.svg");
}

.cover-header .micon.st {
  content: url("../../../images/static-big.svg");
}

.cover-header .micon.pa {
  content: url("../../../images/package-big.svg");
}

.cover-header .micon.de {
  content: url("../../../images/method-big.svg");
}

.cover-header .micon.in {
  content: url("../../../images/inkuire-big.svg");
}

/* icons dark */
.theme-dark .cover-header .micon.cl {
  content: url("../../../images/class-dark-big.svg");
}

.theme-dark .cover-header .micon.cl-wc {
  content: url("../../../images/class_comp-big.svg");
}

.theme-dark .cover-header .micon.ob {
  content: url("../../../images/object-dark-big.svg");
}

.theme-dark .cover-header .micon.ob-wc {
  content: url("../../../images/object_comp-big.svg");
}

.theme-dark .cover-header .micon.tr {
  content: url("../../../images/trait-dark-big.svg");
}

.theme-dark .cover-header .micon.tr-wc {
  content: url("../../../images/trait_comp-big.svg");
}

.theme-dark .cover-header .micon.en {
  content: url("../../../images/enum-dark-big.svg");
}

.theme-dark .cover-header .micon.en-wc {
  content: url("../../../images/enum_comp-big.svg");
}

.theme-dark .cover-header .micon.gi {
  content: url("../../../images/given-dark-big.svg");
}

.theme-dark .cover-header .micon.va {
  content: url("../../../images/val-dark-big.svg");
}

.theme-dark .cover-header .micon.ty {
  content: url("../../../images/type-dark-big.svg");
}

.theme-dark .cover-header .micon.st {
  content: url("../../../images/static-dark-big.svg");
}

.theme-dark .cover-header .micon.pa {
  content: url("../../../images/package-dark-big.svg");
}

.theme-dark .cover-header .micon.de {
  content: url("../../../images/method-dark-big.svg");
}

.theme-dark .cover-header .micon.in {
  content: url("../../../images/inkuire-big.svg");
}

.cover-header {
  display: flex;
}

.cover-header .micon {
  margin-right: calc(2 * var(--base-spacing));
}
