body {
  margin: 0;
  padding: 0;
  background-color: var(--background-main);
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;;
}

p {
  margin-block: calc(3 * var(--base-spacing));
}

[id] {
  scroll-margin-top: calc(18 * var(--base-spacing));
}

#container {
  --header-height: calc(8 * var(--base-spacing));
}

::-webkit-scrollbar {
  width: 5;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
}
