#main {
  width: calc(100vw - 313px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  scroll-behavior: smooth;
}

/* blog footer */
.blog-author {
  color: gray;
}

.blog-author img#author-img {
  width: auto;
  height: auto;
  max-width:100px;
  max-height:100px;
  border-radius: 50%;
}

#content {
  display: flex;
  flex-flow: row;
  color: var(--text-primary);

  padding-top: calc(18 * var(--base-spacing));
  padding-bottom: calc(10 * var(--base-spacing));
  width: calc(100% - 68px * 2);
  padding-inline: 68px;
  gap: 68px;;

  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}

#content > div:first-child {
  width: calc(100vw - 232px - 313px - 68px * 3);
  max-width: 720px;
}


#content.sidebar-shown {
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}

@media (min-width: 1921px) {

  #content {
    justify-content: left;
    padding-left: 294px;
  }
}

@media (max-width: 1920px) {

  #content {
    justify-content: center;
  }

  #content > div:first-child {
    padding: 0;
  }
}

@media (max-width: 1467px) {

  #content {
    width: calc(100% - 48px * 2);
    padding-inline: 48px;
    gap: 48px;
  }

  #content > div:first-child {
    width: calc(100vw - 232px - 313px - 48px * 3);
  }
}

@media (max-width: 1024px) {

  #main {
    width: 100vw;
    position: absolute;
    left: 0;
  }

  #content > div:first-child {
    width: calc(100vw - 232px - 48px * 3);
  }

  #content.sidebar-shown {
    margin-left: 313px;
  }

}

@media (max-width: 768px) {

  #content {
    padding-top: calc(10 * var(--base-spacing));
    padding-bottom: calc(6 * var(--base-spacing));
  }

  #content > div:first-child {
    width: calc(100vw - 48px * 2);
  }

}

@media (max-width: 428px) {

  #content {
    padding-bottom: 0;
  }

}

@media (max-width: 428px) {

  #content {
    width: calc(100% - 64px);
    padding-inline: 32px;
  }

  #content > div:first-child {
    width: calc(100vw - 32px * 2);
  }

  #content.sidebar-shown {
    margin-left: 100%;
  }

}

#content::after {
  margin-bottom: calc(10 * var(--base-spacing));
}

/* content headers */

#content h1:first-of-type {
  line-height: normal;
  word-break: break-word;
}

#content h1 {
  color: var(--text-primary);
  margin-block-end: 0;
  margin-block-start: 0;
}

#content h2 {
  color: var(--text-primary);
  margin-block-start: calc(6* var(--base-spacing));
  margin-block-end: calc(3* var(--base-spacing));
}

#content .cover > h2 {
  color: var(--text-secondary);
  margin: 0;
  padding: 12px var(--base-spacing);
}

#content .cover > h2:first-of-type {
  margin: 8px 0 0;
}

@media (max-width: 1376px) {
  #content .cover > h2 {
    padding-left: 0;
  }
}

/* content first paragraph */
.first-p {
  margin-block-start: calc(2* var(--base-spacing));
}

#content .first-p {
  color: var(--text-secondary);
}

/* content list */
#content li {
  color: var(--text-primary);
}

#content li > ul {
  padding-left: calc(4 * var(--base-spacing));
}

/* content table */
#content table {
  color: var(--text-primary);
  border-collapse: collapse;
}

#content table {
  text-align: left;
}

#content table * {
  padding: calc(2 * var(--base-spacing)) var(--base-spacing) 17px;
}

#content table tr {
  border-bottom: 1px solid var(--border-default);
}

#content table tr:last-child {
  border-bottom: none;
}


/* contributors table  */
#contributors table tr td:not(:last-child),
#contributors table th:not(:last-child) {
  text-align: right;
}

#contributors table td {
  vertical-align: top;
}

/* content blockquote */
#content blockquote {
  color: var(--text-secondary);
  border-left: 4px solid var(--border-default);
  padding: 0 calc(2 * var(--base-spacing));
  margin-inline-start: calc(2 * var(--base-spacing));
  margin-inline-end: calc(2 * var(--base-spacing));
}

/* content link */
#content a {
  color: var(--text-primary);
  text-decoration: underline solid 1px;
  -webkit-text-decoration-line: underline; /* Safari */
  text-decoration-line: underline;
  text-underline-offset: 2px;
  transition: text-decoration-color .2s ease-in-out;
}

#content a:hover {
  text-decoration-color: transparent;
}

#content a.anchor {
  color: transparent;
  margin-left: -23px;
  padding-right: 3px;
  transition: color .4s ease-out;
}

#content a.anchor::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

#content .cover-header {
  margin-block-end: calc(2 * var(--base-spacing));
}

#content .cover-header a,
#content .cover-header a:hover {
  border-bottom: none;
}

#content :not(pre) > code {
  color: var(--code-props-content);
  font-family: "FiraCode-Regular";
  border: 1px solid var(--code-props-border);
  padding: 3px 5px 1px 5px;
  border-radius: 4px;
  background-color: var(--code-props-background);
  display: inline-block;
  line-height: 16px;
  font-size: 13px;
  word-break: break-word;
}

#content .body-large code {
  font-size: 16px;
  line-height: 24px;
}

#content a code,
#content .body-large a code,
#content :is(h1, h2, h3, h4, h5, h6) code {
  font-family: inherit;
  font-size: inherit;
  background: none;
  display: inline;
  border: none;
  padding: 0;
}

#content a code:before,
#content .body-large a code:before,
#content :is(h1, h2, h3, h4, h5, h6) code:before {
  content: '"';
}

#content a code:after,
#content .body-large a code:after,
#content :is(h1, h2, h3, h4, h5, h6) code:after {
  content: '"';
}

#content main :is(ul, ol) {
  margin-block-start: calc(2 * var(--base-spacing));
  margin-block-end: calc(3 * var(--base-spacing));
  padding: 0 0 0 24px;
}

#content main :is(ul, ol) li {
  margin-block-start: calc(2 * var(--base-spacing));
}

#content main :is(ul, ol) li p {
  margin: 0;
}

main ul li::marker {
  content: '•  ';
}

main ol li::marker {
  content: counters(list-item,'.') ')  ';
}

main :is(ul, ol) li .snippet {
  margin-block-start: calc(2 * var(--base-spacing));
  margin-block-end: calc(2 * var(--base-spacing));
}


.breadcrumbs {
  display: none;
}

/* header icons */

/* icons light*/
.cover-header .micon.cl {
  content: url("../../../images/class-big.svg");
}

.cover-header .micon.cl-wc {
  content: url("../../../images/class-big.svg");
}

.cover-header .micon.ob {
  content: url("../../../images/object-big.svg");
}

.cover-header .micon.ob-wc {
  content: url("../../../images/object-big.svg");
}

.cover-header .micon.tr {
  content: url("../../../images/trait-big.svg");
}

.cover-header .micon.tr-wc {
  content: url("../../../images/trait-big.svg");
}

.cover-header .micon.en {
  content: url("../../../images/enum-big.svg");
}

.cover-header .micon.en-wc {
  content: url("../../../images/enum-big.svg");
}

.cover-header .micon.gi {
  content: url("../../../images/given-big.svg");
}

.cover-header .micon.va {
  content: url("../../../images/val-big.svg");
}

.cover-header .micon.ty {
  content: url("../../../images/type-big.svg");
}

.cover-header .micon.st {
  content: url("../../../images/static-big.svg");
}

.cover-header .micon.pa {
  content: url("../../../images/package-big.svg");
}

.cover-header .micon.de {
  content: url("../../../images/method-big.svg");
}

.cover-header .micon.in {
  content: url("../../../images/inkuire-big.svg");
}

/* icons dark */
.theme-dark .cover-header .micon.cl {
  content: url("../../../images/class-dark-big.svg");
}

.theme-dark .cover-header .micon.cl-wc {
  content: url("../../../images/class-big.svg");
}

.theme-dark .cover-header .micon.ob {
  content: url("../../../images/object-dark-big.svg");
}

.theme-dark .cover-header .micon.ob-wc {
  content: url("../../../images/object-big.svg");
}

.theme-dark .cover-header .micon.tr {
  content: url("../../../images/trait-dark-big.svg");
}

.theme-dark .cover-header .micon.tr-wc {
  content: url("../../../images/trait-big.svg");
}

.theme-dark .cover-header .micon.en {
  content: url("../../../images/enum-dark-big.svg");
}

.theme-dark .cover-header .micon.en-wc {
  content: url("../../../images/enum-big.svg");
}

.theme-dark .cover-header .micon.gi {
  content: url("../../../images/given-dark-big.svg");
}

.theme-dark .cover-header .micon.va {
  content: url("../../../images/val-dark-big.svg");
}

.theme-dark .cover-header .micon.ty {
  content: url("../../../images/type-dark-big.svg");
}

.theme-dark .cover-header .micon.st {
  content: url("../../../images/static-dark-big.svg");
}

.theme-dark .cover-header .micon.pa {
  content: url("../../../images/package-dark-big.svg");
}

.theme-dark .cover-header .micon.de {
  content: url("../../../images/method-dark-big.svg");
}

.theme-dark .cover-header .micon.in {
  content: url("../../../images/inkuire-big.svg");
}

.cover-header {
  display: flex;
  align-items: center;
}

.cover-header .micon {
  position: relative;
  z-index: 1;
}

.cover-header .micon.companion {
  position: relative;
  left: -16px;
  z-index: 0;
}

.cover-header .icon {
  max-width: 72px;
}

.fqname {
  color: var(--text-secondary);
}

.companion-badge {
  color: var(--text-primary);
  padding: calc(2 * var(--base-spacing));
  background-color: var(--indigo3);
  border-radius: 4px;
}

.companion-badge a {
  margin-right: calc(0.5 * var(--base-spacing));
}

.companion-badge span {
  display: flex;
}

.companion-badge .micon {
  margin-left: calc(1 * var(--base-spacing));
  margin-right: calc(1 * var(--base-spacing));
}

.main-signature {
  background-color: var(--action-primary-background-default-solid);
  padding: calc(3 * var(--base-spacing));
  border-radius: 4px;
  padding-left: 40px;
  text-indent: -16px;
}

#content > div > * {
  margin-bottom: calc(3 * var(--base-spacing));
}

#content > div > .main-signature {
  margin-bottom: 0;
}

#attributes > h2 {
  margin-bottom: calc(3*var(--base-spacing));
}


.tab {
  position: relative;
}

.tab h2 {
  border-bottom: 1px solid var(--border-default);
  padding-bottom: calc(3 * var(--base-spacing));
  padding-top: calc(3 * var(--base-spacing));
}

.tab > button {
  position: absolute;
  right: 0;
  top: calc(3.5 * var(--base-spacing));
}

.tab .documentableList {
  display: none;
}

.tab.expand .documentableList {
  display: block;
}

.documentableList {
  position: relative;
  border-bottom: 1px solid var(--border-default);
}

.documentableList.expand {
  padding-bottom: calc(3 * var(--base-spacing));
}

.documentableList > button {
  position: absolute;
  right: 0;
  top: calc(0.5 * var(--base-spacing));
}

.documentableList .documentableElement {
  display: none;
}

.documentableList.expand .documentableElement {
  display: block;
}

.member-group-header{
  height: 80px;
  display: flex;
  align-items: center;
}


.documentableList-expander  {
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}


#content section:last-child {
  margin-bottom: calc(6 * var(--base-spacing));
}

.membersList {
  position: relative;
  min-height: 80vh;
}

#concise-view-switch {
  position: absolute;
  right: 0;
  top: var(--base-spacing);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.membersList.concise .documentableElement {
  padding-top: var(--base-spacing);
  padding-bottom: var(--base-spacing);
  margin: var(--base-spacing);
}

.membersList.concise .documentableBrief p {
  margin-block-start: 0.5em;
}

.membersList.concise .documentableElement .modifiers {
  display: none;
}

.membersList.concise .documentableElement.expand .modifiers {
  display: unset;
}

.show-all-code {
  margin-top: calc(2* var(--base-spacing));
}