.floating-button {
  display: none;
  position: absolute;
  right: calc(3 * var(--base-spacing));
  bottom: calc(10 * var(--base-spacing));
  height: calc(5 * var(--base-spacing));
  width: calc(5 * var(--base-spacing));
  background-color: var(--action-primary-background-default-solid);
  box-shadow: 0px 10px 38px -10px var(--shadow-first),
    0px 10px 20px -15px var(--shadow-second),
    inset 0px 0px 0px 1px var(--shadow-inset);
  border: none;
  border-radius: 4px;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.floating-button:disabled {
  opacity: 0.5;
}

.floating-button:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--focus-default);
}

#mobile-sidebar-toggle::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/default.svg");
}

#mobile-sidebar-toggle:hover::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/hover.svg");
}

#mobile-sidebar-toggle:active::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/active.svg");
}

#mobile-sidebar-toggle:disabled::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/disabled.svg");
}

#mobile-sidebar-toggle:focus::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/focus.svg");
}

#mobile-sidebar-toggle.selected::after {
  content: url("../../../../images/icon-buttons/menu-animated/light/selected.svg");
}

.theme-dark #mobile-sidebar-toggle::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/default.svg");
}

.theme-dark #mobile-sidebar-toggle:hover::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/hover.svg");
}

.theme-dark #mobile-sidebar-toggle:active::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/active.svg");
}

.theme-dark #mobile-sidebar-toggle:disabled::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/disabled.svg");
}

.theme-dark #mobile-sidebar-toggle:focus::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/focus.svg");
}

.theme-dark #mobile-sidebar-toggle.selected::after {
  content: url("../../../../images/icon-buttons/menu-animated/dark/selected.svg");
}

#mobile-sidebar-toggle.menu-shown::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/light/default.svg");
}

#mobile-sidebar-toggle.menu-shown:hover::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/light/hover.svg");
}

#mobile-sidebar-toggle.menu-shown:active::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/light/active.svg");
}

#mobile-sidebar-toggle.menu-shown:disabled::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/light/disabled.svg");
}

#mobile-sidebar-toggle.menu-shown:focus::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/light/focus.svg");
}

#mobile-sidebar-toggle.menu-shown.selected::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/light/selected.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/dark/default.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:hover::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/dark/hover.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:active::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/dark/active.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:disabled::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/dark/disabled.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown:focus::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/dark/focus.svg");
}

.theme-dark #mobile-sidebar-toggle.menu-shown.selected::after {
  content: url("../../../../images/icon-buttons/menu-animated-open/dark/selected.svg");
}

@media (max-width: 1024px) {
  .floating-button {
    display: flex;
  }
}
