.floating-button {
  display: none;
  position: fixed;
  right: calc(6 * var(--base-spacing));
  bottom: calc(6 * var(--base-spacing));
  height: calc(5 * var(--base-spacing));
  width: calc(5 * var(--base-spacing));
  background-color: var(--action-primary-background-default-solid);
  box-shadow: 0px 10px 38px -10px var(--shadow-first),
    0px 10px 20px -15px var(--shadow-second),
    inset 0px 0px 0px 1px var(--shadow-inset);
}

@media (max-width: 1024px) {
  .floating-button {
    display: block;
  }
}
