#header {
  --header-height: calc(8 * var(--base-spacing));
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: calc(1.75 * var(--base-spacing)) calc(3 * var(--base-spacing));
  position: absolute;
  height: var(--header-height);
  left: 0px;
  right: 0px;
  top: 0px;
  background: var(--background-default);
  border-bottom: 1px solid var(--border-default);
}

#dark-project-logo {
  display: none;
}

:root.theme-dark #dark-project-logo {
  display: unset;
}

:root.theme-dark #project-logo {
  display: none;
}

.header-container-left {
  display: flex;
  align-items: center;
}

.header-container-left span {
  margin-right: calc(2 * var(--base-spacing));
}

.header-container-right {
  display: flex;
  align-items: center;
}

.header-container-right .text-button {
  margin-left: calc(3 * var(--base-spacing));
}

.header-container-right #theme-toggle {
  margin-left: calc(3 * var(--base-spacing));
}

#mobile-menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  #mobile-menu-toggle {
    margin-left: calc(3 * var(--base-spacing));
    display: block;
  }

  .header-container-right .text-button {
    display: none;
  }
}
