#searchbar-container {
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.569);
  display: flex;
  justify-content: center;
  position: absolute;
}

#scaladoc-searchbar {
  z-index: 5;
}

#scaladoc-searchbar-input {
  width: 100%;
  background-color: var(--action-primary-background-default-solid);
  background-image: url("../../../images/icon-buttons/search/dark/default.svg");
  background-repeat: no-repeat;
  padding: calc(2 * var(--base-spacing)) calc(2 * var(--base-spacing))
    calc(2 * var(--base-spacing)) calc(5 * var(--base-spacing));
  border-radius: 4px;
  background-size: 16px;
  background-position: 10px 15px;
}
