#sideMenu2 {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-left: calc(1.5 * var(--base-spacing));
  padding-right: calc(1.5 * var(--base-spacing));
  box-sizing: border-box;
}

/* divs in sidebar represent entry and its children */
#sideMenu2 .ni {
  padding-left: 0.8em;
}

#sideMenu2 > .ni {
  padding-left: 0em;
}

#sideMenu2 .ni {
  display: none;
}

#sideMenu2 > .ni {
  display: block;
}

#sideMenu2 .nh a:only-child {
  padding-left: 20px;
}

#sideMenu2 .nh {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
}

#sideMenu2 .ni.expanded > .ni {
  display: block;
}

/* show direct children of currently exmanded node*/
#sideMenu2 div.expanded > div {
  display: block;
}

/* always show top level entry*/
#sideMenu2 > div {
  display: block;
}

/* 'a's in side menu represent text of entry with link */
#sideMenu2 a {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  color: var(--leftbar-fg);
  padding-top: 2%;
  padding-bottom: 2%;
  box-sizing: border-box;
}

#sideMenu2 a:hover {
  color: var(--link-hover-fg);
}

#sideMenu2 a span:not(.micon) {
  margin-right: 0.75ex;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

#sideMenu2 a.selected span:not(.micon) {
  margin-right: 0.5ex;
}

#sideMenu2 .nh:hover {
  cursor: pointer;
}
/* spans represent a expand button */
span.ar {
  cursor: pointer;
}

span.ar::before {
  content: url("../../../images/arrow-right.svg");
  font-family: "dotty-icons" !important;
  font-size: 20px;
  color: var(--icon-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ni.expanded > .nh > span.ar::before {
  content: url("../../../images/arrow-down.svg");
}

.div:hover > span.ar::before {
  color: var(--leftbar-current-bg);
}
