name: Test CLI Launchers on all the platforms
on:
  pull_request:
  workflow_dispatch:

env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

jobs:
  linux-x86_64:
    name: Deploy and Test on Linux x64 architecture
    runs-on: ubuntu-latest
    if: (github.event_name == 'pull_request' && !contains(github.event.pull_request.body, '[skip ci]') ) ||
        (github.event_name == 'workflow_dispatch' && github.repository == 'scala/scala3' )
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Build and test launcher command
        run: ./project/scripts/native-integration/bashTests
        env:
          LAUNCHER_EXPECTED_PROJECT: "dist-linux-x86_64"

  linux-aarch64:
    name: Deploy and Test on Linux ARM64 architecture
    runs-on: macos-latest
    if: ${{ false }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'
      # https://github.com/actions/runner-images/issues/9369
      - name: Install sbt
        run: brew install sbt
      - name: Build and test launcher command
        run: ./project/scripts/native-integration/bashTests
        env:
          LAUNCHER_EXPECTED_PROJECT: "dist-linux-aarch64"

  mac-x86_64:
    name: Deploy and Test on Mac x64 architecture
    runs-on: macos-13
    if: (github.event_name == 'pull_request' && !contains(github.event.pull_request.body, '[skip ci]') ) ||
        (github.event_name == 'workflow_dispatch' && github.repository == 'scala/scala3' )
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'
      # https://github.com/actions/runner-images/issues/9369
      - name: Install sbt
        run: brew install sbt
      - name: Build and test launcher command
        run: ./project/scripts/native-integration/bashTests
        env:
          LAUNCHER_EXPECTED_PROJECT: "dist-mac-x86_64"

  mac-aarch64:
    name: Deploy and Test on Mac ARM64 architecture
    runs-on: macos-latest
    if: (github.event_name == 'pull_request' && !contains(github.event.pull_request.body, '[skip ci]') ) ||
        (github.event_name == 'workflow_dispatch' && github.repository == 'scala/scala3' )
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'
      # https://github.com/actions/runner-images/issues/9369
      - name: Install sbt
        run: brew install sbt
      - name: Build and test launcher command
        run: ./project/scripts/native-integration/bashTests
        env:
          LAUNCHER_EXPECTED_PROJECT: "dist-mac-aarch64"

  win-x86_64:
    name: Deploy and Test on Windows x64 architecture
    runs-on: windows-latest
    if: (github.event_name == 'pull_request' && !contains(github.event.pull_request.body, '[skip ci]') ) ||
        (github.event_name == 'workflow_dispatch' && github.repository == 'scala/scala3' )
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Build the launcher command
        run: sbt "dist-win-x86_64/Universal/stage"
      - name: Run the launcher command tests
        run: './project/scripts/native-integration/winTests.bat'
        shell: cmd
