name: Add to backporting project

on:
  push:
    branches:
      - main

jobs:
  add-to-backporting-project:
    if: "!contains(github.event.push.head_commit.message, '[Next only]')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v6
      - uses: VirtusLab/scala-cli-setup@v1.4.3
      - run: scala-cli ./project/scripts/addToBackportingProject.scala -- ${{ github.sha }}
        env:
          GRAPHQL_API_TOKEN: ${{ secrets.GRAPHQL_API_TOKEN }}

