name: Pandoc

on:
  push:
    branches: [scala3-pandoc]

jobs:
  setenv:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Pandoc
        uses: docker://pandoc/latex:latest

      - name: Check environment setup
        run: |
          docker version --format '{{.Server.Version}}'
          #docker run pandoc/latex:latest --version | grep ^pandoc

  build:
    needs: setenv
    runs-on: ubuntu-latest
    #if: "(    github.event_name == 'pull_request'
    #       && !contains(github.event.pull_request.body, '[skip ci]')
    #       && !contains(github.event.pull_request.body, '[skip docs]')
    #     )
    #     || contains(github.event.ref, 'pandoc')
    #     || contains(github.event.ref, 'master')"

    steps:
      - name: Git Checkout
        uses: actions/checkout@v2

      - name: Generate PDF reference documentation
        run: |
          chmod +x ./pandoc/md2pdf
          ./pandoc/md2pdf reference
