name: Release Artifacts to Maven

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

jobs:
  release-maven-lts-artifacts:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: scala/scala3-lts
          ref: lts-3.3-test
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 8
          cache: 'sbt'
      - name: Setup PGP Key
        run: |
          echo -n "$PGP_SECRET" | gpg --batch --import
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
      - uses: sbt/setup-sbt@v1
      - name: Publish Artifacts to the Maven Repository
        run : ./project/scripts/sbtPublish ";project scala3-bootstrapped ;publishSigned ;sonaRelease"
        env:
          SONATYPE_USER         : ${{ secrets.MAVEN_REPOSITORY_USER }}
          SONATYPE_PW           : ${{ secrets.MAVEN_REPOSITORY_TOKEN }}
          MAVEN_REPOSITORY_HOST : ${{ vars.MAVEN_REPOSITORY_HOST }}
          MAVEN_REPOSITORY_REALM: ${{ vars.MAVEN_REPOSITORY_REALM }}
          MAVEN_REPOSITORY_URL  : ${{ vars.MAVEN_REPOSITORY_URL }}
          NEWNIGHTLY            : ${{ vars.NEWNIGHTLY }}
          NIGHTLYBUILD          : ${{ vars.NIGHTLYBUILD }}
          PGP_PW                : ${{ secrets.PGP_PW }}
          PGP_SECRET            : ${{ secrets.PGP_SECRET }}
