name: Release Artifacts to Maven

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

jobs:
  release-maven-artifacts:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 17
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Import Scala PGP Key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.SCALA_PGP_KEY }}
          passphrase     : ${{ secrets.SCALA_PGP_PASSPHRASE }}
          fingerprint    : ${{ vars.SCALA_PGP_FINGERPRINT }}
      - name: Get version string for this build
        run: |
          ver=$(./project/scripts/sbt "print scala3-compiler-bootstrapped/version" | tail -n1)
          echo "THISBUILD_VERSION=$ver" >> $GITHUB_ENV
      - name: Check whether not yet published
        id: not_yet_published
        continue-on-error: true
        run: |
          ! ./project/scripts/is-version-published.sh "$THISBUILD_VERSION"
      - name: Publish Artifacts to the Maven Repository
        if: "steps.not_yet_published.outcome == 'success'"
        run : sbt scala3-bootstrapped/publishSigned
        env:
          MAVEN_REPOSITORY_USER : ${{ secrets.MAVEN_REPOSITORY_USER }}
          MAVEN_REPOSITORY_TOKEN: ${{ secrets.MAVEN_REPOSITORY_TOKEN }}
          MAVEN_REPOSITORY_HOST : ${{ vars.MAVEN_REPOSITORY_HOST }}
          MAVEN_REPOSITORY_REALM: ${{ vars.MAVEN_REPOSITORY_REALM }}
          MAVEN_REPOSITORY_URL  : ${{ vars.MAVEN_REPOSITORY_URL }}
          NEWNIGHTLY            : ${{ vars.NEWNIGHTLY }}
          NIGHTLYBUILD          : ${{ vars.NIGHTLYBUILD }}

  release-maven-lts-artifacts:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: scala/scala3-lts
          ref: lts-3.3
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 8
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - name: Setup PGP Key
        run: |
          echo -n "$PGP_SECRET" | gpg --batch --import
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
      - name: Setup SBT PGP directory
        run: |
          mkdir -p "/home/runner/.sbt/gpg"
      - name: Setup SBT PGP
        run: |
          echo "$PGP_SECRET" > "/home/runner/.sbt/gpg/secring.asc"
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
      - name: Get version string for this build
        run: |
          ver=$(./project/scripts/sbt "print scala3-compiler-bootstrapped/version" | tail -n1)
          echo "THISBUILD_VERSION=$ver" >> $GITHUB_ENV
      - name: Check whether not yet published
        id: not_yet_published
        continue-on-error: true
        run: |
          ! ./project/scripts/is-version-published.sh "$THISBUILD_VERSION"
      - name: Publish Artifacts to the Maven Repository
        if: "steps.not_yet_published.outcome == 'success'"
        run : ./project/scripts/sbtPublish ";project scala3-bootstrapped ;publishSigned"
        env:
          SONATYPE_USER         : ${{ secrets.MAVEN_REPOSITORY_USER }}
          SONATYPE_PW           : ${{ secrets.MAVEN_REPOSITORY_TOKEN }}
          MAVEN_REPOSITORY_HOST : ${{ vars.MAVEN_REPOSITORY_HOST }}
          MAVEN_REPOSITORY_REALM: ${{ vars.MAVEN_REPOSITORY_REALM }}
          MAVEN_REPOSITORY_URL  : ${{ vars.MAVEN_REPOSITORY_URL }}
          NEWNIGHTLY            : ${{ vars.NEWNIGHTLY }}
          NIGHTLYBUILD          : ${{ vars.NIGHTLYBUILD }}
          PGP_PW                : ${{ secrets.PGP_PW }}
          PGP_SECRET            : ${{ secrets.PGP_SECRET }}
