name: scaladoc

on:
  push:
    branches-ignore:
      - 'language-reference-stable'
      - 'gh-readonly-queue/**'
  pull_request:
    branches-ignore:
      - 'language-reference-stable'
  merge_group:
permissions:
  contents: read

jobs:
  build:
    env:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
    runs-on: ubuntu-latest
    if: "github.event_name == 'merge_group'
         || (    github.event_name == 'pull_request'
           && !contains(github.event.pull_request.body, '[skip ci]')
           && !contains(github.event.pull_request.body, '[skip docs]')
         )
         || contains(github.event.ref, 'scaladoc')
         || contains(github.event.ref, 'main')"

    steps:
      - name: Git Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'sbt'

      - uses: sbt/setup-sbt@v1
      - name: Compile and test scala3doc-js
        run: ./project/scripts/sbt scaladoc-js-main/test

      - name: Compile and test
        run: |
          ./project/scripts/sbt scaladoc/test
          ./project/scripts/sbt dist/Universal/stage
          ./project/scripts/cmdScaladocTests

      - name: Locally publish self
        run: ./project/scripts/sbt scaladoc/publishLocal

      - name: Generate self documentation
        run: ./project/scripts/sbt scaladoc/generateSelfDocumentation

      - name: Generate testcases documentation
        run: ./project/scripts/sbt scaladoc/generateTestcasesDocumentation

      - name: Generate reference documentation
        run: ./project/scripts/sbt scaladoc/generateReferenceDocumentation

      - name: Generate Scala 3 documentation
        run: ./project/scripts/sbt scaladoc/generateScalaDocumentation

  stdlib-sourcelinks-test:
    runs-on: ubuntu-latest
    # if false - disable flaky test
    if: "false && ((    github.event_name == 'pull_request'
           && !contains(github.event.pull_request.body, '[skip ci]')
           && !contains(github.event.pull_request.body, '[skip docs]')
         )
         || contains(github.event.ref, 'scaladoc')
         || contains(github.event.ref, 'scala3doc')
         || contains(github.event.ref, 'main'))"

    steps:
      - name: Git Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Test sourcelinks to stdlib
        run: true # ./project/scripts/sbt scaladoc/sourceLinksIntegrationTest:test
